<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-product">
          <div class="card-header card-header-warning card-header-text">
            <div class="card-text">
              <h4 class="card-title">Enter Your Details</h4>
            </div>
          </div>
          <div class="card-body">
            <form class="form-horizontal" #userForm="ngForm">
              <div class="form-group">
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">Photo</label>
                  <div class="col-md-3 col-sm-4">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail profile_photo_div">
                        <img src="{{
                            user.photo_url && user.photo_url.url
                              ? user.photo_url.url
                              : './assets/img/placeholder.jpg'
                          }}" alt="..." />
                      </div>
                      <!-- <div class="photo_div"> -->
                      <div class="fileinput-preview fileinput-exists thumbnail profile_photo_div ">
                      </div>
                      <!-- </div> -->
                      <div>
                        <label class="btn btn-round btn-sm btn-rose btn-file">
                          <span *ngIf="!objectKeys(user.photo_url).length" class="fileinput-new">Add Photo</span>
                          <span *ngIf="objectKeys(user.photo_url).length" class="fileinput-new">update Photo</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="..." (change)="getBlob($event)" accept="image/*" />
                        </label>
                        <button *ngIf="objectKeys(user.photo_url).length"
                          class="btn btn-sm btn-danger btn-round fileinput-new" (click)="user.photo_url = {}">
                          <i class="material-icons">
                            delete_outline
                          </i>
                          Remove
                        </button>
                        <!-- <br /> -->
                        <a href="#pablo" class="btn btn-sm btn-danger btn-round fileinput-exists"
                          data-dismiss="fileinput"><i class="fa fa-times"></i> cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                      color: !user.name ? 'red' : '#AAAAAA'
                    }">Full Name</label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" name="name" required [(ngModel)]="user.name" #name="ngModel"
                        ngDefaultControl />
                    </mat-form-field>
                    <div [hidden]="name.valid || name.pristine" class="text-danger error-msg">
                      Name is required
                    </div>
                  </div>
                </div>


                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">E-mail ID
                  </label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="email" name="email" [(ngModel)]="user.email"
                        [ngModelOptions]="{ standalone: true }" required readonly />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                  color: !user.phone_number ? 'red' : '#AAAAAA'
                }">Phone number
                  </label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="tel" name="phone_number" required [(ngModel)]="user.phone_number"
                        #phone_number="ngModel"
                        pattern="(?:(?:\+|0{0,2})91(\s*[\- ]\s*)?|[0 ]?)?[789]\d{9}|(\d[-]?){10}\d" />
                    </mat-form-field>
                    <div [hidden]="phone_number.valid || phone_number.pristine" class="text-danger error-msg">
                      Phone number is required
                    </div>
                  </div>
                </div>

                <br />

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label">Organization</label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput type="text" name="organization" [(ngModel)]="user.organization" /> -->
                      <mat-select name="organization" placeholder="Select Organization" matInput id="organizations"
                        [(ngModel)]="organization" (selectionChange)="storeOrganization($event)">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let org of objectKeys(userService.allOrgs)" value="{{org}}">{{org}}
                        </mat-option>
                      </mat-select>

                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-2 col-form-label">Persona</label>
                  <div class="col-md-10 col-9">
                    <div class="form-check" *ngFor="let persona of objectKeys(user)">
                      <label class="form-check-label" *ngIf="
                      persona !== 'id' &&
                      persona !== 'email' &&
                      persona !== 'token' &&
                      persona !== 'password' &&
                      persona !== 'name' &&
                      persona !== 'organization' &&
                      persona !== 'qualification' &&
                      persona !== 'photo_url' &&
                      persona !== 'phone_number' &&
                      persona !== 'location' &&
                      persona !== 'notify_email' &&
                      persona !== 'notify_sms' &&
                      persona !== 'notify_app'&&
                      persona !== 'organization_id'
                    ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user[persona]"
                          [ngModelOptions]="{ standalone: true }" />
                        {{ persona.slice(3) }}
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <label class="col-md-2 col-2 col-form-label" [ngStyle]="{
                    color: !userLocation ? 'red' : '#AAAAAA'
                  }">Location (Geo)
                  </label>
                  <div class="col-md-10 col-9">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" name="location" required [matAutocomplete]="locationAuto"
                        (keyup)="getLocation()" [(ngModel)]="userLocation" #location="ngModel" />

                      <mat-autocomplete #locationAuto="matAutocomplete" (optionSelected)="storeLocation($event)">
                        <mat-option *ngFor="let location of locations" [value]="location.Location">
                          {{ location.Location.Address.Label }}
                        </mat-option>
                      </mat-autocomplete>

                      <!-- <input type="text" name="location" matInput id="location" [matAutocomplete]="auto"
                      placeholder="Location *" (keyup)="getLocation()" formControlName="location"
                      [(ngModel)]="content.location"> -->

                      <!-- <table style="width: 100%" id="table">
                      <tbody>
                        <tr *ngFor="let location of locations">
                          <td (click)="storeLocation($event)">
                            <button style="width: 50%; background-color: #FFFF">
                              {{ location.Location.Address.Label }}
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table> -->
                    </mat-form-field>
                    <div [hidden]="location.valid || location.pristine" class="text-danger error-msg">
                      Location is required
                    </div>
                  </div>
                </div>


                <div class="row justify-content-center">
                  <label class="col-md-2 col-2 col-form-label">
                    Interests</label>
                  <div class="col-md-10 col-9">
                    <div class="input-group ">
                      <mat-form-field class="example-chip-list">
                        <input placeholder="Sectors" #sectorInput [formControl]="sectorCtrl" [matAutocomplete]="auto"
                          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                        <mat-chip-list #chipList> </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let sector of (filteredSectors | async)" [value]="sector">
                            {{ sector }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <label class="col-md-2 col-2 col-form-label"> </label>
                  <div class="col-md-10 col-9">
                    <mat-chip *ngFor="let sector of sectors" [selectable]="selectable" [removable]="removable"
                      (removed)="remove(sector)" style="margin-right:0.3em; margin-bottom: 0.4em;">
                      {{ sector }}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                  </div>
                </div>

                <!-- </div> -->



                <div class="row">
                  <label class="col-sm-2 col-form-label">External notification preference</label>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.notify_email"
                          [ngModelOptions]="{standalone: true}"> E-mail
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.notify_sms"
                          [ngModelOptions]="{standalone: true}"> SMS
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <!-- <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.notify_app"
                          [ngModelOptions]="{standalone: true}" disabled> In-App
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div> -->
                  </div>
                </div>
                <!-- <div class="row">
            <label class="col-md-2 col-2 col-form-label">Persona</label>
            <div class="col-md-10 col-9">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="personas" [(ngModel)]="user.personas">
              </mat-form-field>
            </div>
          </div> -->
                <!-- <div class="row">
            <label class="col-md-2 col-2 col-form-label">Select Persona</label>
            <div class="col-lg-4 col-md-6 col-sm-3">
              <div class="dropdown">
                <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-warning btn-round btn-block"
                  data-toggle="dropdown">Persona
                  <b class="caret"></b>
                </button>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li class="dropdown-header">Dropdown header</li>
                  <li>
                    <a href="#pablo">Persona 1</a>
                  </li>
                  <li>
                    <a href="#pablo">Persona 2</a>
                  </li>
                  <li>
                    <a href="#pablo">Persona 3</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#pablo">Persona 4</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#pablo">Persona 5</a>
                  </li>
                </ul>
              </div>
            </div>-->
              </div>
            </form>
          </div>
          <div class="card-footer row justify-content-center" *ngIf="mode === 'Add'">
            <button mat-raised-button class="btn btn-warning" type="submit" [disabled]="!userForm.form.valid"
              (click)="onSubmit()">
              Save Details
            </button>
          </div>

          <div class="card-footer row justify-content-center" *ngIf="mode === 'Edit'">
            <button mat-raised-button class="btn btn-warning" type="submit" [disabled]="!userForm.form.valid"
              (click)="onSubmit()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>