<div class="main-content" style="margin-top: 10%;">
  <div class="container-fluid">
    <h1
      *ngIf="objectKeys(allUnapprovedUsers).length"
      class="h1-font"
      #usersHeading
      tabindex="-1"
    >
      Existing Users
    </h1>
    <div class="row">
      <div class="card" *ngIf="userDataTable && userDataTable.dataRows">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons" aria-hidden="true">group</i>
          </div>
          <h2 class="card-title h2-font">Users</h2>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th *ngFor="let cell of userDataTable.headerRow">
                    {{ cell }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of userDataTable.dataRows">
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>

                  <td>
                    <mat-checkbox
                      [checked]="row[3]"
                      (change)="adminToggle($event, row)"
                    ></mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox
                      [checked]="row[4]"
                      (change)="approveUserToggle($event, row)"
                    ></mat-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <a
      href="javascript:void(0);"
      [routerLink]="'/admin/invite-user'"
      mat-raised-button
      class="btn btn-rose"
    >
      Invite a User
    </a>
    <a
      href="javascript:void(0);"
      *ngIf="filterService.isPrimaryDomain"
      [routerLink]="'/admin/domains'"
      mat-raised-button
      class="btn btn-rose"
    >
      Add a Domain
    </a>

    <div class="mt-4">
      <h1 *ngIf="objectKeys(allUnapprovedUsers).length" class="h1-font">
        Users to be approved
      </h1>
      <div class="row ">
        <div
          class="card"
          *ngIf="
            unapprovedUserDataTable &&
            unapprovedUserDataTable.dataRows &&
            objectKeys(allUnapprovedUsers).length
          "
        >
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons" aria-hidden="true">group</i>
            </div>
            <h2 class="card-title h2-font ">Unapproved Users</h2>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of unapprovedUserDataTable.headerRow">
                      {{ cell }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of unapprovedUserDataTable.dataRows">
                    <td>{{ row[0] }}</td>

                    <td>
                      <mat-checkbox
                        [checked]="row[1]"
                        (change)="approveUser($event, row)"
                      ></mat-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
