<!--REWRITE-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href=""> -->
            <img class="img profile_photo"
              src="{{(userData.photo_url && userData.photo_url.url) ? userData.photo_url.url : './assets/img/default-avatar.png'}}" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6> -->
            <h4 class="card-title">{{userData.name}}</h4>
            <div
              *ngIf="(userData.problemsByUser&& userData.problemsByUser.length)||(userData.user_collaborators&& userData.user_collaborators.length)||(userData.user_validations&& userData.user_validations.length)||(userData.enrichmentssBycreatedBy&& userData.enrichmentssBycreatedBy.length)">
              <h6>Contributions</h6>
              <p *ngIf="userData.problemsByUser.length">Added {{userData.problemsByUser.length}} problem(s)</p>
              <p *ngIf="userData.user_collaborators.length"> {{userData.user_collaborators.length}} collaboration(s)</p>
              <p *ngIf="userData.user_validations.length">{{userData.user_validations.length}} validation(s) </p>
              <p *ngIf="userData.enrichmentssBycreatedBy.length">{{userData.enrichmentssBycreatedBy.length}}
                enrichment(s)
              </p>



            </div>
            <!-- <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
                Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-product">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title" style="text-align:left;">
              {{userData.id===userId?"My Profile":"Profile"}}
              <!-- <small class="category">Complete your profile</small> -->
            </h4>
          </div>
          <div class="card-body">
            <div>
              <strong>E-mail</strong>
              <p class="description">{{userData.email}}</p>

            </div>


            <div *ngIf="loggedInUsersProfile && userData.phone_number">
              <strong>Phone Number</strong>
              <p class="description" *ngIf="userData.id==auth.currentUserValue.id">{{userData.phone_number}}</p>

            </div>


            <div *ngIf="organizationName">
              <strong>Organization</strong>
              <p class="description">{{organizationName}}</p>

            </div>

            <div *ngIf="personas.length">

              <strong>Persona</strong>
              <div>
                <span *ngFor="let persona of personas" class="badge badge-warning"
                  style="margin-right: 0.3em;">{{persona.slice(3)}}</span>
                <span>&nbsp;</span>
              </div>


            </div>



            <!-- <strong *ngIf="userData.qualification">Qualification</strong> -->
            <!-- <p class="description">{{userData.qualification}}</p> -->
            <!-- <strong>Phone number</strong>
            <p class="description">{{userData.organization}}</p> -->


            <div *ngIf="userData.location && userData.location.Address">
              <strong>Location</strong>
              <p class="description">
                {{userData.location.Address.Label}}</p>
            </div>

            <div *ngIf="interests.length">

              <strong>Interests</strong>
              <div>
                <span class="badge badge-warning" *ngFor="let interest of interests"
                  style="margin-right: 0.3em;">{{interest }} </span>
                <span>&nbsp;</span>
              </div>

            </div>


          </div>
          <div class="card-footer">
            <div [routerLink]="'/users/'+ userData.id+'/edit'" *ngIf="userData.id==auth.currentUserValue.id">
              <button mat-raised-button class="btn btn-info pull-right">Edit</button>
            </div>
            <!-- <button mat-raised-button type="submit" class="btn btn-rose pull-right">Update Profile</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--REWRITE-->