<!--REWRITE-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href=""> -->
              <img class="img" src="{{(userData.photo_url && userData.photo_url.url) ? userData.photo_url.url : './assets/img/default-avatar.png'}}" />
            <!-- </a> -->
          </div>
          <div class="card-body">
            <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6> -->
            <h4 class="card-title">{{userData.name}}</h4>
            <!-- <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
                Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-product">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title" style="text-align:left;">My Profile
              <!-- <small class="category">Complete your profile</small> -->
            </h4>
          </div>
          <div class="card-body">
            <strong *ngIf="userData.organization">Organization</strong>
            <p class="description">{{userData.organization}}</p>
            <strong *ngIf="userData.qualification">Qualification</strong>
            <p class="description">{{userData.qualification}}</p>
            <!-- <strong>Phone number</strong>
            <p class="description">{{userData.organization}}</p> -->
            <strong>E-mail</strong>
            <p class="description">{{userData.email}}</p>
            <strong *ngIf="interests">Interests</strong>
            <div>
              <span *ngFor="let interest of interests" class="badge badge-warning">{{interest }} </span>
              <span>&nbsp;</span>
            </div>

            <strong>Location</strong>
            <p class="description">{{userData.location}}</p>
            <strong>Persona</strong>
            <div>
              <span *ngFor="let persona of userData.personas" class="badge badge-warning">{{persona}}</span>
              <span>&nbsp;</span>
            </div>
          </div>
          <div class="card-footer">
            <div [routerLink]="'/users/'+ userData.id+'/edit'" *ngIf="loggedInUsersProfile">
              <button mat-raised-button class="btn btn-info pull-right">Edit</button>
            </div>
            <!-- <button mat-raised-button type="submit" class="btn btn-rose pull-right">Update Profile</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--REWRITE-->