<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <app-wizard-container [content]="enrichmentData" [contentType]="'enrichment'"
          (contentSubmitted)="onEnrichmentSubmit($event)"></app-wizard-container>
      </div>
      <div class="col-md-4">
        <!-- <app-problem-card *ngIf="problemData" [problemData]="problemData"></app-problem-card> -->
        <div class="card card-product" *ngIf="problemData">
          <div class="card-header card-header-warning">
            <h4 class="card-title">{{problemData.title}}</h4>
            <p class="card-category"><b>Created By : {{problemData.usersBycreatedBy.name}}</b></p>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- <div class="col-md-4">
                  <div class="picture">
                    <img
                      src="{{(problemData.featured_url && checkUrlIsImg(problemData.featured_url)) ? problemData.featured_url : './assets/img/image_placeholder.jpg'}}"
                      alt="Thumbnail Image" class="rounded img-fluid">
                    <div class="row justify-content-center">
                      <button mat-raised-button *ngIf="problem_attachments.length > 1"
                        class="btn btn-raised btn-info btn-sm" data-toggle="modal" data-target="#viewMoreImgModal">
                        view media ({{problem_attachments.length}})
                      </button>
                    </div>
                  </div>
                </div> -->
              <div class="col-md-8">
                <strong *ngIf="problemData.description">Description</strong>
                <p class="description">{{problemData.description}}</p>

                <strong *ngIf="problemData.organization">Organization</strong>
                <p class="description">{{problemData.organization}}</p>

                <strong>Population Affected</strong>
                <p class="description" *ngIf="problemData.min_population===0">Between {{problemData.min_population}}
                  and {{problemData.max_population}}</p>
                <p class="description" *ngIf="problemData.min_population!==0">More than
                  {{problemData.min_population}}</p>

                <strong>Location(s)</strong>
                <div *ngFor="let location of problemData.location">
                  <span class="badge badge-warning" *ngIf="location.Address.Label">{{location.Address.Label}}</span>
                  <span>&nbsp;</span>
                </div>

                <strong *ngIf="problemData.beneficiary_attributes">Beneficiary Attributes</strong>
                <p class="description">{{problemData.beneficiary_attributes}}</p>

                <strong *ngIf="problemData.impact">Impact</strong>
                <p class="description">{{problemData.impact}}</p>

                <strong *ngIf="problemData.extent">Extent</strong>
                <p class="description">{{problemData.extent}}</p>

                <strong *ngIf="problemData.resources_needed">Resources Needed</strong>
                <p class="description">{{problemData.resources_needed}}</p>

                <strong *ngIf="problemData.problem_tags.length">Sectors</strong>
                <div>
                  <span *ngFor="let tags of problemData.problem_tags "
                    class="badge badge-warning">{{tags.tag.name}}</span>
                  <span>&nbsp;</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer">
              <div>
                <i class="material-icons actions" (click)="voteProblem()"
                  [ngStyle]="{'color':isVoted ? '#1E90FF' : 'black' }">
                  thumb_up
                </i>
                <span>{{number_of_votes}}</span>
                <i class="material-icons actions col-md-3" (click)="watchProblem()"
                  [ngStyle]="{'color':isWatching ? '#1E90FF' : 'black' }">
                  visibility
                </i>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span> {{watchedBy}}</span>
              </div>
              <div *ngIf="userId===problemData.created_by" [routerLink]="
                '/problems/'+ problemData.id+'/edit'">
                <i class="material-icons actions">
                  create
                </i>
              </div>
  
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>