<div *ngIf="validationData">
  <!-- <div class="card-header card-header-warning card-header-text"> -->
  <div class="card-body">
    <div class="row">
      <label class="col-sm-3">Comment</label>
      <div class="col-sm-9" style="white-space: pre-wrap;">{{validationData.comment}}</div>
    </div>
    <div class="row">
      <label class="col-sm-3">Approval Status</label>
      <div class="col-sm-9" [ngStyle]="{color: validationData.agree ? 'green' : 'orangered'}">
        {{validationData.agree?'Agreed':'Disagreed'}}
      </div>
    </div>
    <div class="row" *ngIf="validationData&&validationData.files&&validationData.files.length>0">
      <label class="col-sm-3">Download</label>
      <div class="col-sm-9">
        <div *ngFor="let file of validationData.files">
          <span class="d-inline-block text-truncate" style="max-width: 88%;">
            {{file.key}}
          </span>
          &nbsp;
          <sup>
            <a href="{{filesService.fileAccessUrl+file.fileEndpoint}}">
              <i class="material-icons" title="Download all the Attachments">cloud_download
              </i>
            </a>
          </sup>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center" *ngIf="validationData.user_id===auth.currentUserValue.id">

    <button mat-button type="button" (click)="editValidation()" class="btn btn-warning" aria-hidden="true"
      data-dismiss="modal">
      <i class="material-icons actions">
        create
      </i>
    </button>

    <button mat-button type="button" class="btn btn-danger" (click)="deleteValidation()">
      <i class="material-icons actions">
        delete
      </i>
    </button>

  </div>


</div>