<!--REWRITE-->


<div class="card card-profile collaborate-card" *ngIf="collaboratorData" [routerLink]="!(collaboratorData.user_id===currentUser)&&'/profiles/'+collaboratorData.user_id">

  <div class="card-avatar">
    <a *ngIf="collaboratorProfileData&&collaboratorProfileData.photo_url">
      <img class="img" *ngIf="collaboratorProfileData && collaboratorProfileData.photo_url" src="{{(collaboratorProfileData.photo_url && collaboratorProfileData.photo_url.url) ? collaboratorProfileData.photo_url.url : './assets/img/default-avatar.png'}}" />
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray"></h6>
    <h4 class="card-title" *ngIf="collaboratorProfileData&&collaboratorProfileData.name">{{collaboratorProfileData.name}}</h4>
    <p class="card-description">
      {{collaboratorData.intent}}
    </p>


    <div *ngFor="let role of roles">
      <span class="badge badge-warning">{{role.slice(3)}}</span>
      <span>&nbsp;</span>
    </div>

  </div>
</div>
<button *ngIf="collaboratorData.user_id===auth.currentUserValue.id" mat-button type="button" class="btn btn-danger"
  (click)="deleteCollaboration()">
  <i class="material-icons actions">
    delete
  </i>
</button>
<button *ngIf="collaboratorData.user_id===auth.currentUserValue.id" mat-button type="button" class="btn btn-warning"
  (click)="editCollaboration()" data-toggle="modal" data-target="#EditCollaborateModal">
  <i class="material-icons actions">
    create
  </i>
</button>

<!--REWRITE-->