<!--REWRITE-->

<!-- [routerLink]="currentUser&&!(collaboratorData.user_id===currentUser)&&'/profiles/'+collaboratorData.user_id" -->
<div class="card card-profile collaborate-card" *ngIf="collaboratorData">
  <div class="card-avatar actions photo_div" [routerLink]="currentUser && '/users/' + collaboratorData.user_id">
    <a *ngIf="collaboratorData.user && collaboratorData.user.photo_url">
      <img class="img profile_photo" style="object-fit: cover;"
        *ngIf="collaboratorData.user && collaboratorData.user.photo_url" src="{{
        collaboratorData.user.photo_url && collaboratorData.user.photo_url.url
            ? collaboratorData.user.photo_url.url
            : './assets/img/default-avatar.png'
        }}" />
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray"></h6>
    <h4 class="card-title actions" *ngIf="collaboratorData.user && collaboratorData.user.name"
      [routerLink]="currentUser && '/users/' + collaboratorData.user_id">
      <a>
        {{ (currentUser == collaboratorData.user_id) ? 'You' : collaboratorData.user.name }}
      </a>
    </h4>
    <p class="card-description description" style="white-space: pre-wrap;">
      {{ collaboratorData.intent }}
    </p>

    <!-- <div *ngFor="let role of roles">
      <span class="badge badge-warning">{{ role.slice(3) }}</span>
      <span>&nbsp;</span>
    </div> -->
    <div *ngIf="roles.length">
      <span *ngFor="let role of roles" class="badge badge-warning" style="margin-right: 0.3em;">{{role.slice(3)}}</span>
      <span>&nbsp;</span>
    </div>
  </div>

  <hr *ngIf="collaboratorData.user_id === auth.currentUserValue.id">


  <div class="stats">
    <button mat-button type="button" class="btn btn-sm btn-danger"
      *ngIf="collaboratorData.user_id === auth.currentUserValue.id" (click)="deleteCollaboration()">
      <i class="material-icons">
        delete
      </i>
    </button>
    <span>&nbsp;</span>
    <button mat-button type="button" class="btn btn-sm btn-warning"
      *ngIf="collaboratorData.user_id === auth.currentUserValue.id" (click)="editCollaboration()" data-toggle="modal"
      data-target="#EditCollaborateModal">
      <i class="material-icons">
        create
      </i>
    </button>
  </div>

</div>



<!--REWRITE-->