<div class="card-collapse">
  <div class="card-header" role="tab" id="headingTwo">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" href="#comment-{{comment.id}}" aria-expanded="true"
        attr.aria-controls="comment-{{comment.id}}">
        {{comment.usersBycreatedBy.name || 'Anonymous'}}, {{comment.modified_at | date:short}}
        <i class="material-icons">keyboard_arrow_down</i>
      </a>
    </h5>
  </div>
  <div id="comment-{{comment.id}}" class="collapse show" role="tabpanel" aria-labelledby="headingTwo"
    attr.data-target="#comment-{{comment.id}}">
    <div class="card-body">
      <div innerHTML="{{comment.text}}"></div>
      <!-- Attachments for comments -->
      <p>
        <span *ngFor="let attachment of comment.attachments; let i= index;" style="cursor:pointer;">
          <img *ngIf="attachment.mimeType.startsWith('image') && i < attachmentToShow" src="{{attachment['url']}}"
            (click)="assignUrl(comment.attachments, i)" width="50" />

          <!-- icon in case url is of video -->
          <i class="material-icons" style="line-height: 50px; color: grey;"
            *ngIf="attachment.mimeType.startsWith('video') && i < attachmentToShow"
            (click)="assignUrl(comment.attachments, i)">
            movie
          </i>
          <i class="material-icons" style="line-height: 50px; color: grey;" *ngIf="!attachment.mimeType.startsWith('video') && !attachment.mimeType.startsWith('image') && i <
              attachmentToShow" (click)="assignUrl(comment.attachments, i)">
            description
          </i>
        </span>

        <!-- show more for comments -->
        <i class="material-icons"
          *ngIf="comment && comment.attachments && comment.attachments.length > 2 && !commentsExpanded"
          style="padding: 5px; line-height: 50px;cursor: pointer;" (click)="displayMoreAttachComments()"
          matTooltip="show more" [matTooltipPosition]="'right'">
          arrow_forward_ios
        </i>
        <!-- show less for comments -->
        <i class="material-icons" *ngIf="commentsExpanded" style="padding:5px; line-height: 50px;cursor: pointer;"
          (click)="displayMoreAttachComments()" matTooltip="show less" [matTooltipPosition]="'right'">
          arrow_back_ios
        </i>
      </p>

      <button mat-raised-button class="btn btn-warning btn-round btn-sm" matTooltip="Click to reply"
        [matTooltipPosition]="'below'" *ngIf="!(showReplyBox && replyingTo === comment.id)"
        (click)="replyTo(comment.id)">Reply</button>
      <app-submit-comment *ngIf="showReplyBox && replyingTo === comment.id" [users]="users" [actionText]="'Reply'"
        [cancelShown]="true" [id]="comment.id" (cancel)="showReplyBox=false" (submit)="onCommentSubmit($event)">
      </app-submit-comment>
      <div class="card-collapse" *ngFor="let reply of sortReplies(replies)">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#reply-{{reply.id}}" aria-expanded="false"
              attr.aria-controls="reply-{{reply.id}}">
              {{reply.usersBycreatedBy.name || 'Anonymous'}}, {{reply.modified_at | date:short}}
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
          </h5>
        </div>
        <div id="reply-{{reply.id}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
          attr.data-target="#reply-{{reply.id}}">
          <div class="card-body">
            <div innerHTML="{{reply.text}}"></div>
            <!-- Attachments for replies -->
            <p style="height: 50px;">
              <span *ngFor="let attachment of reply.attachments; let i=index;" style="cursor:pointer;">
                <img *ngIf="attachment.mimeType.startsWith('image') && i < repliesAttachmentNum"
                  (click)="assignUrl(reply.attachments, i)" src="{{attachment['url']}}" width="50" />

                <!-- icon in case url is of video -->
                <i class="material-icons" style="zoom:2; color: grey"
                  *ngIf="attachment.mimeType.startsWith('video') && i < repliesAttachmentNum"
                  (click)="assignUrl(reply.attachments, i)">
                  movie
                </i>
                <i class="material-icons" style="zoom:2; color: grey" *ngIf="!attachment.mimeType.startsWith('video') && !attachment.mimeType.startsWith('image') && i <
                    repliesAttachmentNum" (click)="assignUrl(reply.attachments, i)">
                  description
                </i>
              </span>
              <!-- Show more for replies -->
              <i class="material-icons"
                *ngIf="reply && reply.attachments && reply.attachments.length > 2 && !repliesExpanded"
                style="padding: 5px; line-height: 40px;cursor: pointer;"
                (click)="displayMoreAttachReplies(reply.attachments)" matTooltip="show more"
                [matTooltipPosition]="'right'">
                arrow_forward_ios
              </i>

              <!-- Show less for replies -->
              <i class="material-icons" *ngIf="repliesExpanded" style="padding:5px; line-height: 40px;cursor: pointer;"
                (click)="displayMoreAttachReplies(reply.attachments)" matTooltip="show less"
                [matTooltipPosition]="'right'">
                arrow_back_ios
              </i>
            </p>

            <!-- <button mat-raised-button class="btn btn-warning btn-round btn-sm" matTooltip="Click to reply" [matTooltipPosition]="'below'" *ngIf="!(showReplyBox && replyingTo === reply.id)"
        (click)="replyTo(reply.id)">Reply</button>
        <app-submit-comment *ngIf="showReplyBox && replyingTo === reply.id" [users]="objectValues(usersService.allUsers)"
        [actionText]="'Reply'" [cancelShown]="true" (cancel)="showReplyBox=false" (submit)="onCommentSubmit($event)"></app-submit-comment> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>