<div class="card">
  <div class="card-header card-header-icon card-header-warning">
    <!-- <div class="user photo card-icon">
      <i class="material-icons">comment</i>
    </div> -->
    <p class="card-title">{{comment.usersBycreatedBy.name || 'Anonymous'}}, {{comment.modified_at |
      timeAgo}}</p>
  </div>
  <div class="card-body">
    <div innerHTML="{{comment.text}}"></div>
    <app-submit-comment *ngIf="showReplyBox && replyingTo === comment.id" [users]="objectValues(usersService.allUsers)"
      [actionText]="'Reply'" (submitted)="onCommentSubmit($event)"></app-submit-comment>
  </div>
  <div class="card-footer" *ngIf="!showReplyBox">
    <div class="stats">
      <button mat-raised-button class="btn btn-warning btn-sm" matTooltip="Click to reply" [matTooltipPosition]="'below'"
        (click)="replyClick.emit()">Reply</button>
    </div>
  </div>
</div>