<video *ngIf="source && (source.mimeType && source.mimeType.startsWith('video')) || checkUrlIsVideo(source.url)"
  id="modalVideo" controls width="100%" height="450">
  <source src="{{source.url}}" type="video/webm">
  <source src="{{source.url}}" type="video/mp4">

  Sorry, your browser doesn't support this video.
</video>

<img *ngIf="source && (source.mimeType && source.mimeType.startsWith('image')) || checkUrlIsImg(source.url)"
  src="{{source.url}}" alt="" class="fix_view">

<!-- for other than image and video -->
<div
  *ngIf="source && ( source.mimeType && !source.mimeType.startsWith('image') && !source.mimeType.startsWith('video') )"
  class="doc_div">
  <h3>{{source.key}}</h3>
  <a href="{{source.url}}">
    <button mat-raised-button class="btn btn-secondary btn-round btn-lg">
      <i class="material-icons">
        arrow_downward
      </i>
      Download
    </button>
  </a>

</div>

<!-- for embedded videos -->
<div *ngIf="source && checkUrlIsEmbeded(source.url)" [innerHtml]="iframe_html"></div>