<!--      Wizard container        -->
<div class="wizard-container">
  <div class="card card-wizard" data-color="orange" id="wizardProfile">
    <form [formGroup]="type" action="" method="" (keyup)="sendDataBack($event)">
      <div class="card-header text-center">
        <h3 class="card-title" *ngIf="contentType==='problem'">
          {{content.title || "Let's add a content"}}
        </h3>
      </div>
      <div class="wizard-navigation">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#text" data-toggle="tab" role="tab">
              Text
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#media" data-toggle="tab" role="tab">
              Media:
              image(s) and video(s)
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="text">
            <a href="#media" data-toggle="tab" role="tab" class="nav-link"
              *ngIf="content.image_urls.length+content.video_urls.length>0">{{content.image_urls.length}}
              image(s) and {{content.video_urls.length}} video(s) attached</a>
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg" *ngIf="contentType==='problem'">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                      color: !content.title
                        ? 'red'
                        : '#AAAAAA'
                    }">title</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'title')">
                    <input type="text" name="title" matInput id="title" appAutofocus placeholder="Title *"
                      formControlName="title" [(ngModel)]="content.title"
                      (input)="sendInputToParent($event.target.value)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                      color: !content.description
                        ? 'red'
                        : '#AAAAAA'
                    }">description</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'description')">
                    <textarea type="text" name="description" matInput id="description" placeholder="Description *"
                      formControlName="description" rows="4" wrap="hard"
                      (input)="sendInputToParent($event.target.value)" [(ngModel)]="content.description"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                      color: !content.organization
                        ? 'red'
                        : '#AAAAAA'
                    }">business_center</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label"
                    [ngClass]="displayFieldCss(type, 'organization')">
                    <mat-select name="organization" placeholder="Select Organization *" matInput id="organization"
                      formControlName="organization" [(ngModel)]="content.organization">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let org of objectKeys(usersService.allOrgs)" value="{{org}}">{{org}}
                      </mat-option>
                    </mat-select>

                    <!-- <input placeholder="Organization" [matAutocomplete]="auto" matInput [(ngModel)]="content.organization"
                      id="organization" formControlName="organization">

                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="organizationSelected($event)">
                      <mat-option *ngFor="let org of usersService.allOrgs" [value]="org">
                        {{org}}
                      </mat-option>
                    </mat-autocomplete> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                      color: !content.max_population
                        ? 'red'
                        : '#AAAAAA'
                    }">group_add</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'population')">

                    <mat-select matInput formControlName="population" (selectionChange)="populationValueChanged($event)"
                      [(ngModel)]="content.max_population" placeholder="Select size of affected population *"
                      id="population" name="population">
                      <mat-option *ngFor="let size of sizes" [value]="size.value">
                        {{ size.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">nature_people</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'location')">
                    <textarea type="text" name="beneficiary" matInput id="beneficiary"
                      placeholder="Beneficiary attributes" formControlName="beneficiary"
                      [(ngModel)]="content.beneficiary_attributes"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">trending_up</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'resources')">
                    <textarea type="text" name="resources" matInput id="resources" placeholder="Resources Needed"
                      formControlName="resources" [(ngModel)]="content.resources_needed"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                          color: !content.location.length
                            ? 'red'
                            : '#AAAAAA'
                        }">place</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'location')">
                    <!-- <input type="text" name="location" matInput id="location" [matAutocomplete]="auto" placeholder="Location *"
                          (keyup)="getLocation()" formControlName="location" [(ngModel)]="content.location">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="storeLocation($event)">
                          <mat-option *ngFor="let location of locations" [value]="location.Location.Address.Label">
                            {{location.Location.Address.Label}}
                          </mat-option>
                        </mat-autocomplete> -->
                    <input placeholder="Locations" [(ngModel)]="locationInputValue" rows="2" #locationInput
                      [formControl]="locationCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (keyup)="getLocation()"
                      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLocation($event)">

                    <mat-chip-list #chipList>



                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLocation($event)">
                      <mat-option *ngFor="let location of locations" [value]="location.Location">
                        {{location.Location.Address.Label}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-10">
                <mat-chip *ngFor="let location of content.location" [selectable]="selectable" [removable]="removable"
                  (removed)="removeLocation(location)" style="margin-right:0.3em; margin-bottom: 0.4em;">
                  {{location.Address.Label}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>



              </div>
            </div>













            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">trending_up</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'impact')">
                    <textarea type="text" name="impact" matInput id="impact" placeholder="Impact"
                      formControlName="impact" [(ngModel)]="content.impact"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">public</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'extent')">
                    <textarea type="text" name="extent" matInput id="extent" placeholder="Extent"
                      formControlName="extent" [(ngModel)]="content.extent"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="row justify-content-center" *ngIf="contentType==='problem'">
              <!-- <div class="col-sm-12">
                    <div class="input-group form-control-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">label</i>
                        </span>
                      </div> -->
              <div class="col-sm-12">
                <div class="input-group form-control-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                                color: !localSectors.length
                                  ? 'red'
                                  : '#AAAAAA'
                              }">label</i>
                    </span>
                  </div>

                  <mat-form-field class="example-chip-list">
                    <input placeholder="Sectors" #sectorInput [formControl]="sectorCtrl" [matAutocomplete]="auto"
                      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    <mat-chip-list #chipList>
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let sector of filteredSectors | async" [value]="sector">
                        {{sector}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-sm-10">

                <mat-chip *ngFor="let sector of localSectors" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(sector)" style="margin-right:0.3em; margin-bottom: 0.4em;">
                  {{sector}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>

              </div>
            </div>





          </div>
          <div class="tab-pane" id="media">
            <div class="row justify-content-center">
              <a href="#media" data-toggle="tab" role="tab" class="nav-link"
                *ngIf="content.image_urls.length+content.video_urls.length>0">{{content.image_urls.length}}
                image(s) and {{content.video_urls.length}} video(s) attached</a>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-6">
                <div class="picture-container">
                  <div class="picture">
                    <img src="./assets/img/plus.png" class="picture-src" id="wizardPicturePreview" title="" />
                    <input type="file" (change)="onFileSelected($event)" name="..." multiple
                      accept="{{file_types.join(',')}}">
                  </div>
                  <h6 class="description">Choose Media</h6>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons" [ngStyle]="{
                      color: checkMedialUrl(media_url) == false
                        ? 'red'
                        : '#AAAAAA'
                    }">link</i>
                    </span>
                  </div>
                  <mat-form-field class="example-full-width has-label">
                    <input type="text" name="media_url" matInput id="media_url" formControlName="media_url"
                      placeholder="Video URL (youtube,vimeo and dailymotion)" [(ngModel)]="media_url">
                  </mat-form-field>
                  <button class="btn btn-success" [disabled]="checkMedialUrl(media_url) == false"
                    (click)="addMediaUrl()">
                    Add Video By URL
                  </button>
                  <!-- <input type="button" class="btn btn-finish btn-fill btn-success btn-wd" (click)="addMediaUrl()"
                    name="add_media_url" [disabled]="!media_url.startsWith('http')" value="Add Video By URL"
                    style="display: none;"> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" *ngFor="let imgSrc of content.image_urls;let i = index">
                <div class="card card-product">
                  <div class="card-header card-header-image" data-header-animation="false">
                    <img class="img" src="{{ imgSrc.url }}">
                  </div>
                  <div class="card-body"></div>
                  <div class="card-footer">
                    <div class="price">
                      <button mat-raised-button type="button" class="btn btn-default btn-link"
                        matTooltip="Click to make this as the featured image of your problem"
                        [matTooltipPosition]="'below'" (click)="setFeatured('image',i)">
                        <i *ngIf="imgSrc.url !== content.featured_url" class="material-icons">turned_in_not</i>
                        <i *ngIf="imgSrc.url === content.featured_url" class="material-icons">turned_in</i>
                      </button>
                    </div>
                    <div class="stats">
                      <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                        [matTooltipPosition]="'below'" (click)="removePhoto(i)">
                        <i class="material-icons">close</i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let video of content.video_urls;let i = index">
              <div class="col-md-4">
                <div class="card card-product">
                  <div class="card-header card-header-image" data-header-animation="false">
                    <video controls width="100%">
                      <source src="{{video.url}}">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="card-body">{{video.key}}</div>
                  <div class="card-footer">
                    <div class="price">
                      <!-- <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                        [matTooltipPosition]="'below'" (click)="setFeatured('video',i)">
                        <i *ngIf="video.url !== content.featured_url" class="material-icons">turned_in_not</i>
                        <i *ngIf="video.url === content.featured_url" class="material-icons">turned_in</i>
                      </button> -->
                    </div>
                    <div class="stats">
                      <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                        [matTooltipPosition]="'below'" (click)="removeVideo(i)">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let embed_url of content.embed_urls;let i = index">
              <div class="col-md-4">
                <div class="card card-product">
                  <div class="card-body">{{embed_url}}</div>
                  <div class="card-footer">
                    <div class="price">
                      <!-- <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                        [matTooltipPosition]="'below'" (click)="setFeatured('embed',i)">
                        <i *ngIf="embed_url !== content.featured_url" class="material-icons">turned_in_not</i>
                        <i *ngIf="embed_url === content.featured_url" class="material-icons">turned_in</i>
                      </button> -->
                    </div>
                    <div class="stats">
                      <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                        [matTooltipPosition]="'below'" (click)="removeEmbed(i)">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let attachment of content.attachments;let i = index">
              <div class="col-md-4">
                <div class="card card-product">
                  <div class="card-body">
                    <i class="material-icons" style="zoom:2; color: grey;">
                      description
                    </i>
                    {{attachment.key}}
                  </div>
                  <div class="card-footer">
                    <div class="price">
                      <!-- <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                        [matTooltipPosition]="'below'" (click)="setFeatured('embed',i)">
                        <i *ngIf="embed_url !== content.featured_url" class="material-icons">turned_in_not</i>
                        <i *ngIf="embed_url === content.featured_url" class="material-icons">turned_in</i>
                      </button> -->
                    </div>
                    <div class="stats">
                      <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                        [matTooltipPosition]="'below'" (click)="removeEmbed(i)">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>







      <div class="card-footer">
        <div class="mr-auto">
          <input type="button" *ngIf="!content.is_draft && !content.title" class="btn" onclick="window.history.back()"
            name="cancel" value="Cancel">
          <!-- <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
            value="Previous"> -->
        </div>
        <div class="ml-auto">
          <button *ngIf="content.is_draft && content.title" class="btn btn-danger" (click)="deleteClicked()">
            Delete
          </button>
          <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
            value="Previous">
          <input type="button" class="publish btn btn-fill btn-warning btn-wd" [disabled]="!isComplete()"
            (click)="publishContent()" value="Publish">
          <input type="button" class="btn btn-next btn-fill btn-warning btn-wd" [disabled]="!isComplete()" name="next"
            value="Next">




          <input type="button" class="btn btn-finish btn-fill btn-warning btn-wd" [disabled]="!isComplete()"
            (click)="publishContent()" name="finish" value="Publish" style="display: none;">
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
<!-- wizard container -->