<div class="d-flex justify-content-end">
  <mat-form-field class="dropDown">
    <mat-select multiple placeholder="Sectors" [(ngModel)]="selectedSectors" role="listbox">
      <mat-option (click)="selectDropdown($event)" *ngFor="let sector of objectValues(sectors)" [value]="sector.name"
        role="option">
        {{ sector.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field class="dropDown">

    <input placeholder="Location" matInput type="text" name="location" [matAutocomplete]="locationAuto"
      (keyup)="getLocation($event)" [(ngModel)]="selectedLocationName" #location="ngModel" />

    <mat-autocomplete #locationAuto="matAutocomplete" (optionSelected)="selectDropdown($event)">
      <mat-option (click)="selectDropdown($event)" [value]="null">All</mat-option>

      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location.Location.Address.Label }}
      </mat-option>
    </mat-autocomplete>
   
  </mat-form-field>

  <mat-form-field class="dropDown" *ngIf="objectValues(selectedLocation).length">
    <mat-select (click)=" selectDropdown($event)" placeholder="Distance" [(ngModel)]="range" ariaLabel="range"> -->




  <form class="dropDown">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Location" aria-label="Enter location" matInput [formControl]="myControl"
        [matAutocomplete]="auto" [(ngModel)]="selectedLocationName" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectDropdown($event)">
        <mat-option [value]="null">All</mat-option>
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location.Location.Address.Label }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <mat-form-field class="dropDown" *ngIf="objectValues(selectedLocation).length">
    <mat-select (click)="selectDropdown($event)" placeholder="Distance" [(ngModel)]="range">
      <!-- <mat-option (click)="selectDropdown($event)" [value]="null">All</mat-option> -->
      <mat-option (click)="selectDropdown($event)" *ngFor="let range of objectKeys(ranges)" [value]="range">
        {{ ranges[range] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>