<!--REWRITE-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <!--Problem Details-->
      <div class="col-md-8">
        <div class="card card-product">
          <div class="card-header card-header-warning">
            <h4 class="card-title">{{problemData.title}}</h4>

            <!-- <p class="card-category">Category subtitle</p> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="picture">
                  <img style="object-fit: cover;"
                    src="{{ problemData.image_urls && problemData.image_urls[0] && problemData.image_urls[0].url ? problemData.image_urls[0].url : './assets/img/image_placeholder.jpg'}}"
                    alt="Thumbnail Image" class="rounded img-fluid">
                  <div class="row justify-content-center">
                    <button mat-raised-button class="btn btn-raised btn-info btn-sm" data-toggle="modal"
                      data-target="#viewMoreImgModal"
                      *ngIf="this.problemData.image_urls && this.problemData.image_urls.length >0">
                      {{modalBtnTxt}}
                    </button>
                    <button mat-raised-button class="btn btn-raised btn-info btn-sm" data-toggle="modal"
                      data-target="#viewMoreVideosModal"
                      *ngIf="this.problemData.video_urls && this.problemData.video_urls.length > 0">
                      Show videos
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <strong class="description">Description</strong>
                <p class="description">{{problemData.description}}</p>
                <strong>Location</strong>
                <p class="description">{{problemData.location}}</p>
                <strong *ngIf="problemData.resources_needed">Resources Needed</strong>
                <p class="description">{{problemData.resources_needed}}</p>
                <strong>Organization</strong>
                <p class="description">{{problemData.organization}}</p>
                <strong *ngIf="problemData.extent">Extent</strong>
                <p class="description">{{problemData.extent}}</p>
                <strong *ngIf="problemData.impact">Impact</strong>
                <p class="description">{{problemData.impact}}</p>
                <strong>Population Affected</strong>
                <p class="description">More than {{problemData.min_population}}</p>
                <strong *ngIf="problemData.beneficiary_attributes">Beneficiary Attributes</strong>
                <p class="description">{{problemData.beneficiary_attributes}}</p>
                <strong *ngIf="tags">Sectors</strong>
                <div *ngFor="let tag of tags">
                  <span class="badge badge-warning">{{tag}}</span>
                  <span>&nbsp;</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <i class="material-icons actions" (click)="voteProblem()"
                [ngStyle]="{'color':isVoted ? '#1E90FF' : 'black' }">
                thumb_up
              </i>
              <span>{{number_of_votes}}</span>
              <i class="material-icons actions col-md-3" (click)="watchProblem()"
                [ngStyle]="{'color':isWatching ? '#1E90FF' : 'black' }">
                visibility
              </i>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span> {{watchedBy}}</span>
            </div>
            <div *ngIf="userId===problemData.created_by" [routerLink]="
            '/problems/'+ problemData.id+'/edit'">
              <i class="material-icons actions">
                create
              </i>
            </div>
            <p>Created By:{{problemOwner}}</p>
          </div>
        </div>
        <!--Problem Details-->


        <!--Show more images and videos-->

        <!-- ----------------------------- show more images modal start----------------------------- -->
        <div class="modal fade" id="viewMoreImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <img src="{{modalImgSrc}}" alt="" height="500px">
              <div class="modal-footer justify-content-center" *ngIf="!singleImg">
                <button mat-raised-button type="button" (click)="toggleImgSrc(false)"
                  class="btn btn-info btn-round"><span class="carousel-control-prev-icon"
                    aria-hidden="true"></span></button>
                <div class="col-3"></div>
                <button mat-raised-button type="button" class="btn btn-info btn-round"
                  (click)="toggleImgSrc(true)"><span class="carousel-control-next-icon"
                    aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
        <!-- ----------------------------- show more images modal ends----------------------------- -->

        <!-- ----------------------------- show more videos modal start----------------------------- -->
        <div class="modal fade" id="viewMoreVideosModal" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div>
                <button mat-button type="button" class="close" data-dismiss="modal" (click)="dimissVideoModal($event)"
                  aria-hidden="true">
                  <i class="material-icons">clear</i>
                </button>
              </div>
              <video height="450px" id="problemVideoID" controls src="{{modalVideoSrc}}">

              </video>
              <div class="modal-footer justify-content-center"
                *ngIf="problemData.video_urls && problemData.video_urls.length">
                <button mat-raised-button type="button" class="btn btn-info btn-round"
                  (click)="toggleVideoSrc('prev')"><span class="carousel-control-prev-icon"
                    aria-hidden="true"></span></button>
                <div class="col-3"></div>
                <button mat-raised-button type="button" class="btn btn-info btn-round"
                  (click)="toggleVideoSrc('next')"><span class="carousel-control-next-icon"
                    aria-hidden="true"></span></button>
              </div>
            </div>
          </div>

        </div>
        <!-- ----------------------------- show more videos modal end ----------------------------- -->




        <!--Show more images and videos-->

        <hr>

        <!--Enrichment-->

        <!--Enrichment divider-->
        <div class="row justify-content-center">
          <!-- <a mat-button NguCarouselPrev class="leftRs">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a> -->
          <button mat-raised-button class="btn btn-warning btn-round" data-toggle="modal" data-target="#enrichmentModal"
            matTooltip="Click to add enrichment" [matTooltipPosition]="'below'"
            [disabled]="disableEnrichButton">Enrich</button>
          <!-- <a mat-button NguCarouselNext class="rightRs">
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a> -->
        </div>
        <!--Enrichment divider-->

        <ngu-carousel #enrichCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async"
          *ngIf="enrichment[0]">
          <ngu-tile *nguCarouselDef="let enrichment; let i = index; let ani = animate" data-toggle="modal"
            data-target="#enrichModal">

            <app-enrichment-card [enrichmentData]="enrichment" (clicked)=handleEnrichCardClicked($event)>
            </app-enrichment-card>
          </ngu-tile>

          <!-- <button NguCarouselPrev class="btn btn-default leftRs" [style.opacity]="enrichCarousel.isFirst ? 0.5:1">&lt;</button> -->
          <!-- <button NguCarouselNext class="btn btn-default rightRs" [style.opacity]="enrichCarousel.isLast ? 0.5:1">&gt;</button> -->

          <!-- <div class="row justify-content-center"> -->
          <a mat-button NguCarouselPrev class="btn btn-white btn-just-icon btn-round leftRs" *ngIf="enrichment[0]">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a>
          <!-- <button mat-raised-button class="btn btn-warning btn-round" data-toggle="modal" data-target="#enrichmentModal" -->
          <!-- matTooltip="Click to add enrichment" [matTooltipPosition]="'below'">Enrich</button> -->
          <a mat-button NguCarouselNext class="btn btn-white btn-just-icon btn-round rightRs" *ngIf="enrichment[0]">
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a>
          <!-- </div> -->


        </ngu-carousel>

        <div class="row justify-content-center" *ngIf="!enrichment[0]">
          <p>No enrichments yet. Be the first to enrich this problem.</p>
        </div>

        <!--Enrichment-->

        <!--Add Enrichment Modal-->

        <div class="modal fade " id="enrichmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add New Enrichment</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body ">
                <!-- <app-add-enrichment (submitted)="onEnrichmentSubmit($event)"></app-add-enrichment> -->
                <!-- <app-wizard-cmp></app-wizard-cmp> -->
                <app-wizard-container></app-wizard-container>
              </div>
            </div>
          </div>
        </div>

        <!--Add Enrichment Modal-->

        <!--View Enrichment Modal-->

        <div class="modal fade" id="enrichModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Enrichment Detail</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
                <app-view-enrichment *ngIf="enrichmentDataToView" [enrichmentData]="enrichmentDataToView"
                  (editClicked)="handleEnrichEditMode($event)" (deleteClicked)="deleteEnrichment($event)"
                  (voteClicked)="voteEnrichment($event)"></app-view-enrichment>
              </div>
              <!-- <div class="card-footer"> -->
              <!-- <div class="text-center"> -->
              <!-- <button mat-button type="button" class="btn btn-warning" aria-hidden="true" data-dismiss="modal"
                    data-toggle="modal" data-target="#EditEnrichModal">Edit</button> -->
              <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>

        <!--View Enrichment Modal-->

        <!--Edit Enrichment Modal-->

        <div class="modal fade editModal" id="EditEnrichModal" tabindex="-1" role="dialog"
          aria-labelledby="EditEnrichModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notice modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Edit Enrichment</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
                <app-add-enrichment *ngIf="enrichDataToEdit" [enrichmentData]="enrichDataToEdit"
                  (submitted)="onEnrichmentSubmit($event)"></app-add-enrichment>
              </div>
            </div>
          </div>
        </div>

        <!--Edit Enrichment Modal-->

        <hr>

        <!--Validate-->

        <!--Validate divider-->
        <div class="row justify-content-center">
          <!-- <a mat-button>
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a> -->
          <button mat-raised-button class="btn btn-warning btn-round" data-toggle="modal" data-target="#validatorModal"
            matTooltip="Click to validate problem" [matTooltipPosition]="'below'"
            [disabled]="disableValidateButton || !userPersonas.is_expert || userId == problemData.created_by ||!sectorMatched">Validate</button>
          <!-- <a mat-button>
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a> -->
        </div>
        <!--Validate divider-->

        <ngu-carousel #ValidCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItemsValid$ | async"
          *ngIf="validation[0] ">
          <ngu-tile *nguCarouselDef="let validation; let i = index; let ani = animate" data-toggle="modal"
            data-target="#validModal">
            <app-validate-card *ngIf="!validation.is_deleted" [validationData]="validation"
              (clicked)="handleValidationCardClicked($event)"></app-validate-card>
          </ngu-tile>

          <!-- <button NguCarouselPrev class="btn btn-default leftRs" [style.opacity]="ValidCarousel.isFirst ? 0.5:1">&lt;</button> -->
          <!-- <button NguCarouselNext class="btn btn-default rightRs" [style.opacity]="ValidCarousel.isLast ? 0.5:1">&gt;</button> -->

          <a mat-button NguCarouselPrev class="btn btn-white btn-just-icon btn-round leftRs" *ngIf="validation[0]">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a>
          <!-- <button mat-raised-button class="btn btn-warning btn-round" data-toggle="modal" data-target="#validatorModal" -->
          <!-- matTooltip="Click to validate problem" [matTooltipPosition]="'below'">Validate</button> -->
          <a mat-button NguCarouselNext class="btn btn-white btn-just-icon btn-round rightRs" *ngIf="validation[0]">
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a>

        </ngu-carousel>
        <div class="row justify-content-center" *ngIf="!validation[0]">
          <p *ngIf="userPersonas.expert">No validations yet. Be the first to validate.</p>
          <p *ngIf="!userPersonas.expert">No validations yet.</p>

        </div>

        <!--Validate Modal-->
        <div class="modal fade" id="validatorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Validate Problem</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
                <app-validate-problem (submitted)="onValidationSubmit($event)"></app-validate-problem>
              </div>
            </div>
          </div>
        </div>
        <!--Validate Modal-->

        <!--View Validation Modal-->

        <div class="modal fade" id="validModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Validation Details</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
                <app-detailed-validate-view [validationData]="validationDataToView"
                  (deleteClicked)="deleteValidation($event)" (editClicked)="handleValidationEditMode($event)">
                </app-detailed-validate-view>
              </div>
            </div>
          </div>
        </div>

        <!--View Validation Modal-->

        <!--Edit Validation Modal-->
        <div class="modal fade editModal" id="EditValidationModal" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notice">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Edit Validation</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">


                <app-validate-problem *ngIf="validationDataToEdit" [validationData]="validationDataToEdit"
                  (submitted)="onValidationSubmit($event)"></app-validate-problem>
              </div>
            </div>
          </div>
        </div>
        <!--Edit Validation Modal-->

        <!--Validate-->

        <hr>

        <!--Collaborate-->

        <div class="modal fade editModal" id="EditCollaborateModal" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notice modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Edit collaboration</h5>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">


                <app-add-collaborator *ngIf="collaboratorDataToEdit" [collaborator]="collaboratorDataToEdit"
                  (submitted)="onCollaborationSubmit($event)">

                </app-add-collaborator>
              </div>
            </div>
          </div>
        </div>

        <!--Collaborate divider-->
        <div class="row justify-content-center">
          <!-- <a mat-button>
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a> -->
          <button mat-raised-button class="btn btn-warning btn-round" data-toggle="modal"
            data-target="#collaboratorModal" matTooltip="Click to collaborate" [matTooltipPosition]="'below'"
            [disabled]="disableCollaborateButton">Collaborate</button>
          <!-- <a mat-button>
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a> -->
        </div>
        <!--Collaborate divider-->

        <ngu-carousel #CollabCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItemCollab$ | async"
          *ngIf="collaborators[0]">
          <ngu-tile *nguCarouselDef="let collaborator; let i = index; let ani = animate">
            <app-collaborator-card *ngIf="collaborator" [collaboratorData]="collaborator"
              (editClicked)="handleCollaborationEditMode($event)" (deleteClicked)="deleteCollaboration($event)">
            </app-collaborator-card>
          </ngu-tile>



          <a mat-button NguCarouselPrev class="btn btn-white btn-just-icon btn-round leftRs" *ngIf="collaborators[0]">
            <i class="material-icons">
              keyboard_arrow_left
            </i>
          </a>

          <a mat-button NguCarouselNext class="btn btn-white btn-just-icon btn-round rightRs" *ngIf="collaborators[0]">
            <i class="material-icons">
              keyboard_arrow_right
            </i>
          </a>
        </ngu-carousel>
        <div class="row justify-content-center">
          <p *ngIf="!collaborators[0]">No collaborators yet. Be the first one to collaborate.</p>
        </div>

        <!--Add Collaborator Modal-->
        <div class="modal fade" id="collaboratorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-notice modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">How do I collaborate</h5>
                <button mat-button type="button" class="close" aria-hidden="true" (click)="dismiss()">
                  <i class="material-icons">close</i>
                </button>
              </div>
              <div class="modal-body">
                <app-add-collaborator (submitted)="onCollaborationSubmit($event)" (edit)=onCollaorationUpdate($event)>
                </app-add-collaborator>
              </div>
            </div>
          </div>
        </div>
        <!--Add Collaborator Modal-->

        <!--Collaborate-->

      </div> <!-- COL - 8-->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-center">
              <i class="material-icons">
                highlight
              </i>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <h5>Do you have a solution? <a target="_blank" href="/solutions">click here</a></h5>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">forum</i>
            </div>
            <h4 class="card-title">Discussions</h4>
          </div>
          <div class="card-body">
            <div id="accordion" role="tablist">
              <div class="card-collapse">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#newComment" aria-expanded="true" aria-controls="newComment"
                      class="collapsed">
                      Join Discussion
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="newComment" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                  data-target="#newComment" style="">
                  <app-submit-comment [users]="objectValues(usersService.allUsers)" [actionText]="'Comment'"
                    (submit)="onCommentSubmit($event)"></app-submit-comment>
                </div>
              </div>
              <app-display-comment [users]="objectValues(usersService.allUsers)" [comment]="comment"
                [replies]="replies[comment.id]" (reply)="onReplySubmit($event)"
                *ngFor="let comment of objectValues(comments)"></app-display-comment>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------------- show more images modal start----------------------------- -->
<div class="modal fade" id="viewMoreImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <img src="{{modalImgSrc}}" alt="" height="500px">
      <div class="modal-footer justify-content-center" *ngIf="!singleImg">
        <button mat-raised-button type="button" (click)="toggleImgSrc(false)" class="btn btn-info btn-round"><span
            class="carousel-control-prev-icon" aria-hidden="true"></span></button>
        <div class="col-3"></div>
        <button mat-raised-button type="button" class="btn btn-info btn-round" (click)="toggleImgSrc(true)"><span
            class="carousel-control-next-icon" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------- show more images modal ends----------------------------- -->

<!-- ----------------------------- show more videos modal start----------------------------- -->
<div class="modal fade" id="viewMoreVideosModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div>
        <button mat-button type="button" class="close" data-dismiss="modal" (click)="dimissVideoModal($event)"
          aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <video height="450px" id="problemVideoID" controls src="{{modalVideoSrc}}">

      </video>
      <div class="modal-footer justify-content-center" *ngIf="problemData.video_urls && problemData.video_urls.length">
        <button mat-raised-button type="button" class="btn btn-info btn-round" (click)="toggleVideoSrc('prev')"><span
            class="carousel-control-prev-icon" aria-hidden="true"></span></button>
        <div class="col-3"></div>
        <button mat-raised-button type="button" class="btn btn-info btn-round" (click)="toggleVideoSrc('next')"><span
            class="carousel-control-next-icon" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>

</div>
<!-- ----------------------------- show more videos modal end ----------------------------- -->

<!--REWRITE-->