<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!--      Wizard container        -->

        <app-wizard-container [content]="problem" (smartSearchInput)="smartSearch($event)" (tagAdded)="addTags($event)"
          (tagRemoved)="remove($event)" (contentSubmitted)="submitProblemToDB(problem)"></app-wizard-container>
        <!-- <div class="wizard-container">
          <div class="card card-wizard" data-color="orange" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <div class="card-header text-center">
                <h3 class="card-title">
                  {{problem.title || "Let's add a problem"}}
                </h3>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#text" data-toggle="tab" role="tab">
                      Text
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#media" data-toggle="tab" role="tab">
                      Media: {{problem.image_urls.length}}
                      image(s) and {{problem.video_urls.length}} video(s)
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="text">
                    <a href="#media" data-toggle="tab" role="tab" class="nav-link" *ngIf="problem.image_urls.length+problem.video_urls.length>0">{{problem.image_urls.length}}
                      image(s) and {{problem.video_urls.length}} video(s) attached</a>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" [ngStyle]="{
                      color: !problem.title
                        ? 'red'
                        : '#AAAAAA'
                    }">title</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'title')">
                            <input type="text" name="title" matInput id="title" placeholder="Title *" formControlName="title"
                              [(ngModel)]="problem.title" (input)="smartSearch($event.target.value)">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" [ngStyle]="{
                      color: !problem.description
                        ? 'red'
                        : '#AAAAAA'
                    }">description</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'description')">
                            <textarea type="text" name="description" matInput id="description" placeholder="Description *"
                              formControlName="description" rows="3" (input)="smartSearch($event.target.value)"
                              [(ngModel)]="problem.description"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <br />
                    <br />
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" [ngStyle]="{
                      color: !problem.organization
                        ? 'red'
                        : '#AAAAAA'
                    }">business_center</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'organization')">
                            <mat-select name="organization" placeholder="Select Organization *" matInput id="organization"
                              formControlName="organization" [(ngModel)]="problem.organization">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let org of usersService.allOrgs" value="{{org}}">{{org}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" [ngStyle]="{
                      color: !problem.min_population
                        ? 'red'
                        : '#AAAAAA'
                    }">group_add</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'population')">
                            <mat-select matInput formControlName="population" [(ngModel)]="problem.min_population"
                              placeholder="Select size of affected population *" id="population" name="population">
                              <mat-option *ngFor="let size of sizes" [value]="size.value">
                                {{ size.viewValue }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons" [ngStyle]="{
                      color: !problem.location
                        ? 'red'
                        : '#AAAAAA'
                    }">place</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'location')">
                            <input type="text" name="location" matInput id="location" placeholder="Location *"
                              formControlName="location" [(ngModel)]="problem.location">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">nature_people</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'location')">
                            <input type="text" name="beneficiary" matInput id="beneficiary" placeholder="Who is affected by this problem?"
                              formControlName="beneficiary" [(ngModel)]="problem.beneficiary_attributes">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">trending_up</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'impact')">
                            <input type="text" name="impact" matInput id="impact" placeholder="Impact" formControlName="impact"
                              [(ngModel)]="problem.impact">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">public</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'extent')">
                            <input type="text" name="extent" matInput id="extent" placeholder="Extent" formControlName="extent"
                              [(ngModel)]="problem.extent">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">trending_up</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'resources')">
                            <input type="text" name="resources" matInput id="resources" placeholder="Resources Needed"
                              formControlName="resources" [(ngModel)]="problem.resources_needed">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">label</i>
                            </span>
                          </div>
                          <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList>
                              <mat-chip *ngFor="let sector of sectors" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(sector)">
                                {{sector}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="Sectors" #sectorInput [formControl]="sectorCtrl" [matAutocomplete]="auto"
                                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let sector of filteredSectors | async" [value]="sector">
                                {{sector}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="media">
                    <div class="row justify-content-center">
                      <div class="col-sm-6">
                        <div class="picture-container">
                          <div class="picture">
                            <img src="./assets/img/plus.png" class="picture-src" id="wizardPicturePreview"
                              title="" />
                            <input type="file" (change)="onFileSelected($event)" name="..." multiple accept="image/*,video/*">
                          </div>
                          <h6 class="description">Choose Media</h6>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <mat-form-field class="example-full-width has-label">
                            <input type="text" name="media_url" matInput id="media_url" formControlName="media_url"
                              placeholder="Video URL" [(ngModel)]="media_url">
                          </mat-form-field>
                          <input type="button" class="btn btn-finish btn-fill btn-success btn-wd" (click)="addMediaUrl()"
                            name="add_media_url" [disabled]="!media_url.startsWith('http')" value="Add Video By URL"
                            style="display: none;">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4" *ngFor="let imgSrc of problem.image_urls;let i = index">
                        <div class="card card-product">
                          <div class="card-header card-header-image" data-header-animation="false">
                            <img class="img" src="{{ imgSrc.url }}">
                          </div>
                          <div class="card-body"></div>
                          <div class="card-footer">
                            <div class="price">
                              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                                [matTooltipPosition]="'below'" (click)="setFeatured('image',i)">
                                <i *ngIf="imgSrc.url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                <i *ngIf="imgSrc.url === problem.featured_url" class="material-icons">turned_in</i>
                              </button>
                            </div>
                            <div class="stats">
                              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                                [matTooltipPosition]="'below'" (click)="removePhoto(i)">
                                <i class="material-icons">close</i>
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let video of problem.video_urls;let i = index">
                      <div class="col-md-12">
                        <div class="card card-product">
                          <div class="card-header card-header-image" data-header-animation="false">
                            <video controls>
                              <source src="{{video.url}}">
                              Your browser does not support the video tag.
                            </video>
                          </div>
                          <div class="card-body">{{video.key}}</div>
                          <div class="card-footer">
                            <div class="price">
                              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                                [matTooltipPosition]="'below'" (click)="setFeatured('video',i)">
                                <i *ngIf="video.url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                <i *ngIf="video.url === problem.featured_url" class="material-icons">turned_in</i>
                              </button>
                            </div>
                            <div class="stats">
                              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                                [matTooltipPosition]="'below'" (click)="removeVideo(i)">
                                <i class="material-icons">close</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let embed_url of problem.embed_urls;let i = index">
                      <div class="col-md-12">
                        <div class="card card-product">
                          <div class="card-body">{{embed_url}}</div>
                          <div class="card-footer">
                            <div class="price">
                              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Feature"
                                [matTooltipPosition]="'below'" (click)="setFeatured('embed',i)">
                                <i *ngIf="embed_url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                <i *ngIf="embed_url === problem.featured_url" class="material-icons">turned_in</i>
                              </button>
                            </div>
                            <div class="stats">
                              <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Remove"
                                [matTooltipPosition]="'below'" (click)="removeEmbed(i)">
                                <i class="material-icons">close</i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-warning btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-fill btn-rose btn-wd" [disabled]="!problem.title" (click)="saveProblemDraft()"
                    name="draft" value="Save Draft">
                  <input type="button" class="btn btn-finish btn-fill btn-warning btn-wd" [disabled]="!isComplete()"
                    (click)="publishProblem()" name="finish" value="Publish" style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div> -->
        <!-- wizard container -->
      </div>
      <div class="col-md-4">
        <ng-container *ngIf="objectValues(searchResults).length > 0">
          <div class="row">
            <div class="col-sm-12">
              <h4>Found {{objectValues(searchResults).length}} similar problems. Would you like to enrich one of these
                instead?</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" *ngFor="let result of objectValues(searchResults)">
              <div class="card card-product">
                <div class="card-body">
                  <h4 class="card-title text-left">
                    <a [routerLink]="['/problems/',result.id]">{{result.title}}</a>
                  </h4>
                  <div class="card-description text-left">
                    {{result.description}}
                  </div>
                </div>
                <div class="card-footer">
                  <div class="price">
                    <span *ngFor="let tag of result.problem_tags" class="badge badge-warning">{{tag.tag.name}}</span>
                  </div>
                  <div class="stats">
                    <p class="card-category"><i class="material-icons">place</i> {{result.location}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>