<div class="sidebar-wrapper" *ngIf="isMobileMenu()">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
        <img
          src="/assets/img/social-alpha-logo-250.png"
          alt="social alpha logo"
        />
      </div>
    </a>
    <i
      class="material-icons"
      (click)="sidebarClose()"
      aria-hidden="true"
      style="cursor: pointer; margin-top: 0.1em;margin-left: 9em;"
    >
      clear
    </i>
  </div>

  <div>
    <form class="navbar-form">
      <span class="bmd-form-group"> </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="'/search'"
          queryParamsHandling="merge"
        >
          <i class="material-icons" aria-hidden="true">search</i>
          <p>
            <span class="d-lg-none d-md-block">Search</span>
          </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.currentUserValue.id">
        <a
          class="nav-link"
          [routerLink]="'/users/' + authService.currentUserValue.id"
          queryParamsHandling="merge"
        >
          <i class="material-icons" aria-hidden="true">notifications</i>
          <p>
            <span class="d-lg-none d-md-block">Notifications</span>
          </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.currentUserValue.id">
        <a
          class="nav-link"
          [routerLink]="'/users/' + authService.currentUserValue.id"
          queryParamsHandling="merge"
        >
          <i class="material-icons" aria-hidden="true">person</i>
          <p>
            <span class="d-lg-none d-md-block">My Profile</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuitem of menuItems"
      class="nav-item"
    >
      <a
        [routerLink]="[menuitem.path]"
        queryParamsHandling="merge"
        *ngIf="
          menuitem.type === 'link' &&
          menuitem.title == 'Dashboard' &&
          authService.currentUserValue.id
        "
        class="nav-link"
      >
        <i class="material-icons" aria-hidden="true">{{ menuitem.icontype }}</i>
        <p>{{ menuitem.title }}</p>
      </a>
      <!--If is a single link-->
      <a
        [routerLink]="[menuitem.path]"
        queryParamsHandling="merge"
        *ngIf="menuitem.type === 'link' && menuitem.title != 'Dashboard'"
        class="nav-link"
      >
        <i class="material-icons" aria-hidden="true">{{ menuitem.icontype }}</i>
        <p>{{ menuitem.title }}</p>
      </a>
      <!--If it have a submenu-->
      <a
        data-toggle="collapse"
        href="#{{ menuitem.collapse }}"
        *ngIf="menuitem.type === 'sub'"
        (click)="updatePS()"
        class="nav-link"
      >
        <i class="material-icons" aria-hidden="true">{{ menuitem.icontype }}</i>
        <p>{{ menuitem.title }}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div
        id="{{ menuitem.collapse }}"
        class="collapse"
        *ngIf="menuitem.type === 'sub'"
      >
        <ul class="nav">
          <li
            routerLinkActive="active"
            *ngFor="let childitem of menuitem.children"
            class="nav-item"
          >
            <a
              [routerLink]="[menuitem.path, childitem.path]"
              queryParamsHandling="merge"
              class="nav-link"
            >
              <span class="sidebar-mini">{{ childitem.ab }}</span>
              <span class="sidebar-normal">{{ childitem.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li
      class="nav-item"
      *ngIf="
        authService.currentUserValue.id && authService.currentUserValue.is_admin
      "
    >
      <a class="nav-link" [routerLink]="'/admin'" queryParamsHandling="merge">
        <i class="material-icons" aria-hidden="true">supervised_user_circle</i>
        <p>
          <span class="d-lg-none d-md-block">Admin</span>
        </p>
      </a>
    </li>

    <li class="nav-item" *ngIf="!authService.currentUserValue.id">
      <a
        class="nav-link"
        [routerLink]="'/auth/register'"
        queryParamsHandling="merge"
        tabindex="-1"
        aria-label="register"
      >
        <i class="material-icons" aria-hidden="true">person</i>
        <p>
          Register
          <!-- <span class="d-lg-none d-md-block">Register</span> -->
        </p>
      </a>
    </li>
    <li class="nav-item" *ngIf="!authService.currentUserValue.id">
      <a
        class="nav-link"
        [routerLink]="'/auth/login'"
        aria-disabled="true"
        aria-label="login"
        queryParamsHandling="merge"
      >
        <i class="material-icons" aria-hidden="true">person</i>
        <p>
          <span class="d-lg-none d-md-block">Login</span>
        </p>
      </a>
    </li>
  </ul>
</div>
