<!--REWRITE-->

<div class="card card-product validate-card" (click)="cardClicked()" *ngIf="validationData">
  <div class="card-body">
    <strong>Comment</strong>
    <p class="description lines-wrap" *ngIf="validationData.comment">
      {{validationData.comment}}
    </p>

    <strong>Status</strong>
    <p class="description">{{(validationData.agree)?"Agree":"Disagree"}}
      <i class="material-icons" *ngIf="validationData.agree" style="color: green;font-size: 2em;">
        check_circle_outline
      </i>
      <i class="material-icons" *ngIf="validationData.agree == false" style="color: grey;font-size: 2em;">
        highlight_off
      </i>
    </p>

    <strong *ngIf="validationData && validationData.files && validationData.files.length">Attachment</strong>
    <p class="description" *ngIf="validationData && validationData.files && validationData.files.length > 0">
      {{validationData.files.length}} File(s)</p>
  </div>
  <div class="card-footer">
    <p *ngIf="validationData&&validationData.user">Validated by :
      {{ (auth.currentUserValue.id == validationData.validated_by) ? 'You' : validationData.user.name}}</p>
  </div>
</div>


<!--REWRITE-->