<!-- <div class="card card-product" (click)="cardClicked()" *ngIf="validationData">
  
  <div class="card-body">
    <div class="row">
      <label class="col-6">Comment</label>
      <div class="col-6">
        {{validationData.comment}}
      </div>
    </div>
    <div class="row">
      <label class="col-6">Status</label>
      <div class="col-6">
        {{(validationData.agree)?"Agree":"Disagree"}}
      </div>
    </div>
    
  </div>

</div> -->

<!--REWRITE-->

<div class="card card-product validate-card" (click)="cardClicked()" *ngIf="validationData">
  <!-- <div class="card-header card-header-warning card-header-text">
      <div class="card-text">
        <h4 class="card-title">Validation Details</h4>
      </div>
    </div> -->
  <div class="card-body">
    <strong>Comment</strong>
    <p class="description" *ngIf="validationData.comment">{{validationData.comment}}</p>
    <strong>Status</strong>
    <p class="description">{{(validationData.agree)?"Agree":"Disagree"}}
      <i class="material-icons" *ngIf="validationData.agree" style="color: green; font-size: 2em;">
        check_circle_outline
      </i>
    </p>

    <strong *ngIf="validationData.files&&validationData.files[0]">Attachment</strong>
    <p class="description" *ngIf="validationData.files&&validationData.files[0]&&validationData.files[0].key">{{(validationData.files
      && validationData.files[0]) ? validationData.files[0].key : null}}</p>





    <!-- <div class="row">
        <label class="col-sm-3">Attachment</label>
        <div>
          <span class="downloadBtn">
            <span><i class="fa fa-paperclip" aria-hidden="true"></i> Download</span>
          </span>
        </div>
      </div> -->
    <p *ngIf="validationData&&validationData.user">Validated by : {{validationData.user.name}}</p>
  </div>
</div>


<!--REWRITE-->