.description {
    max-lines: 2;
    max-height: 5.5em;
    overflow: hidden;
}

.downloadBtn:hover {
    background-color: #e99b54;
    color: white;
    padding: 6px;
    cursor: pointer;
}

.validate-card {
    height: 20em;
}

.lines-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
}