<div class="main-content" style="margin-top: 10%;">
  <div class="container-fluid">



    <div class="row mt-4">



      <div class="card" *ngIf="domainDataTable&&domainDataTable.dataRows">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Domains</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ domainDataTable.headerRow[0] }}</th>
                  <th>{{ domainDataTable.headerRow[1] }}</th>
                  <th>{{ domainDataTable.headerRow[2] }}</th>

                  <th class="text-right">{{ domainDataTable.headerRow[3] }}</th>
                  <th class="text-right">{{ domainDataTable.headerRow[4] }}</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of domainDataTable.dataRows">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>
                    <p class="badge badge-warning actions" style="margin-right: 0.3em;" *ngFor="let tag of row[2]">
                      {{tag.tag.name}}</p>
                  </td>



                  <td class="td-actions text-right">

                    <button mat-raised-button type="button" (click)="editDomain(row)"
                      class="btn btn-success {{row[3]}}">
                      <a [routerLink]="['/admin/domains']" fragment="form"><i class="material-icons">edit</i> </a>
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>



          <button (click)="showDomainForm=!showDomainForm" mat-raised-button
            class="btn btn-rose">{{showDomainForm?"Collapse":"Add"}}</button>

          <div class="card" id="form" *ngIf="showDomainForm">
            <form [formGroup]="domainForm">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">Domain</h4>
              </div>
              <div class="card-body">

                <mat-form-field class="example-full-width ">
                  <input type="domainUrl" matInput id="domainUrl" required placeholder="Domain Url"
                    formControlName="domainUrl">
                  <mat-error *ngIf="domainForm.get('domainUrl').hasError('required')">
                    Domain Url
                  </mat-error>

                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="color" matInput style="width:4em;" placeholder="Colour" formControlName="colour"
                    value="#FF9800">

                </mat-form-field>









                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList>
                    <input placeholder="Sectors *" #sectorInput [formControl]="sectorCtrl" [matAutocomplete]="auto"
                      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" required>
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let sector of filteredSectors | async" [value]="sector">
                      {{sector}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>





                <div class="row justify-content-center" *ngIf="sectors.length">
                  <div class="col-sm-10" role="group">

                    <mat-chip *ngFor="let sector of sectors" [selectable]="selectable" [removable]="removable"
                      (removed)="remove(sector)" style="margin-right:0.3em; margin-bottom: 0.4em;">
                      {{sector}}
                      <i class="material-icons mat-chip-remove mat-chip-trailing-icon mat-icon material-icons ng-star-inserted"
                        matChipRemove tabindex="0" role="button" aria-label="remove" *ngIf="removable">cancel</i>
                    </mat-chip>

                  </div>
                </div>



              </div>
              <div class="card-footer text-right">

                <button (click)="addDomain()" mat-raised-button class="btn btn-rose">Add</button>

              </div>
            </form>
          </div>


        </div>
      </div>