.description {
    max-lines: 2;
    max-height: 5.5em;
    overflow: hidden;
    color: #333333;
}

.actions {
    cursor: pointer;
}

.title {
    font-weight: 400;
    max-lines: 1;
    max-height: 1.2em;
    overflow: hidden;
}

.problem-card {
    height: 29em;
}