<div class="card card-product actions problem-card">


  <div class="card-header card-header-image" (click)="navigation()">
    <img
      src="{{ (problemData.featured_url && checkUrlIsImg(problemData.featured_url)) ? problemData.featured_url : './assets/img/image_placeholder.jpg' }}"
      width="200px" height="180px" style="object-fit:inherit;" />
  </div>

  <div class="card-body" (click)="navigation()">
    <p class="card-title title">
      {{ problemData.title }}
    </p>
    <div class="description">
      <strong>Description</strong>
      <p>{{ problemData.description }}</p>
    </div>
    <span> <b> Location(s) </b></span>
    <div *ngFor="let location of problemData.location; let i=index;">
      <span *ngIf="location.Address && location.Address.Label && i < 2">{{location.Address.Label}}</span>
      <span *ngIf="i<2">&nbsp;</span>
    </div>

  </div>
  <div>
    <button *ngIf="usedIn==='smartSearch' && showAddButton" class="btn btn-rose btn-sm" style="margin-top: 2px;">
      <a (click)="selectProblem()">Add </a>
    </button>
  </div>

  <div class="card-footer">

    <div class="stats">
      <i class="material-icons">
        thumb_up
      </i>
      {{ problemData.problem_voters.length }}
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="material-icons">
        visibility
      </i>
      {{ problemData.problem_watchers.length }}
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="material-icons" [ngStyle]="{'color': validated ? '#38e038' : '#878787' }"
        matTooltip="Expert validations" [matTooltipPosition]="'below'">
        how_to_reg
      </i>
      {{ problemData.problem_validations.length }}
    </div>
    <div class="stats">
      <i class="material-icons">access_time</i> {{ problemData.updated_at | date:short }}
    </div>
  </div>
</div>