<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 input-group">
        <input type="search" value="" class="form-control" placeholder="Search..." name="searchInput" appAutofocus
          [(ngModel)]="searchInput" (input)="globalSearch($event.target.value)" autocomplete="off" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <h4 class="card-title text-center">Problems</h4>
        <br />
        <div *ngFor="let problem of globalProblemSearchResults">
          <app-problem-card *ngIf="problem" [problemData]="problem">
          </app-problem-card>
        </div>
        <div class="card" *ngIf="searchInput && globalProblemSearchResults && globalProblemSearchResults.length === 0">
          <h5 class="card-body text-center">No search results for
            <b>Problems</b>
          </h5>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="card-title text-center">Solutions</h4>
        <br />
        <div class="card" *ngIf="searchInput">
          <h5 class="card-body text-center">No search results for <b>Solutions</b></h5>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="card-title text-center">Contributors</h4>
        <br />
        <div *ngFor="let user of userSearchResults">
          <app-profile-card *ngIf="user" [userData]="user"></app-profile-card>
        </div>
        <div class="card" *ngIf="searchInput && userSearchResults && userSearchResults.length === 0">
          <h5 class="card-body text-center">No search
            results for <b>Contributors</b>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>