<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <input
          type="text"
          value=""
          class="form-control"
          placeholder="Search..."
          name="searchInput"
          autofocus
          data-toggle="dropdown"
          [(ngModel)]="searchInput"
          (input)="globalSearch($event.target.value)"
          autocomplete="off"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4">
        <h4 class="card-title text-center">Problems</h4>
        <div>
          <app-problem-card
            *ngFor="let problem of globalProblemSearchResults"
            [problemData]="problem"
          ></app-problem-card>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="card-title text-center">Solutions</h4>
      </div>
      <div class="col-md-4">
        <h4 class="card-title text-center">Users</h4>
        <div>
          <app-profile-card
            *ngFor="let user of userSearchResults"
            [userData]="user"
          ></app-profile-card>
        </div>
      </div>
    </div>
  </div>
</div>
