<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard" data-color="orange" id="wizardProfile">
                        <form [formGroup]="type" action="" method="">
                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="card-header text-center">
                                <h3 class="card-title">
                                    "Let's add a solution"
                                </h3>
                                <!-- <h5 class="card-description">These details are mandatory.</h5> -->
                            </div>
                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#text" data-toggle="tab" role="tab">
                                            Text
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#media" data-toggle="tab" role="tab">
                                            Media: 3
                                            image(s) and 2 video(s)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="text">
                                        <a href="#media" data-toggle="tab" role="tab" class="nav-link" *ngIf="problem.image_urls.length+problem.video_urls.length>0">3
                                            image(s) and 2 video(s) attached</a>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons" [ngStyle]="{
                        color: !problem.title
                          ? 'red'
                          : '#AAAAAA'
                      }">title</i>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'title')">
                                                        <input type="text" name="title" matInput id="title" placeholder="Title *"
                                                            formControlName="title" [(ngModel)]="problem.title" (input)="smartSearch($event.target.value)">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons" [ngStyle]="{
                        color: !problem.description
                          ? 'red'
                          : '#AAAAAA'
                      }">description</i>
                                                        </span>
                                                    </div>
                                                    <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'description')">
                                                        <textarea type="text" name="description" matInput id="description"
                                                            placeholder="Description *" formControlName="description"
                                                            rows="3" (input)="smartSearch($event.target.value)"
                                                            [(ngModel)]="problem.description"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">important_devices</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Technology" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Impact" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Attach proof of success" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Solution of ownership" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Research process/framework" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                                <h5 class="card-title">
                                                        Solution Deployment Details
                                                    </h5>                                            
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Assessment metrics" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-12">
                                                <div class="input-group form-control-lg">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                      <i class="material-icons">email</i>
                                                    </span>
                                                  </div>
                                                  <mat-form-field class="example-full-width">
                                                     <input matInput placeholder="Budgets" [formControl]="emailFormControl"
                                                       type="email" id="exampleemalil" name="email">
                                                   </mat-form-field>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="row justify-content-center">
                                                <div class="col-sm-12">
                                                    <div class="input-group form-control-lg">
                                                      <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                          <i class="material-icons">email</i>
                                                        </span>
                                                      </div>
                                                      <mat-form-field class="example-full-width">
                                                         <input matInput placeholder="Resources" [formControl]="emailFormControl"
                                                           type="email" id="exampleemalil" name="email">
                                                       </mat-form-field>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                    <div class="col-sm-12">
                                                        <div class="input-group form-control-lg">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                              <i class="material-icons">email</i>
                                                            </span>
                                                          </div>
                                                          <mat-form-field class="example-full-width">
                                                             <input matInput placeholder="Timeline" [formControl]="emailFormControl"
                                                               type="email" id="exampleemalil" name="email">
                                                           </mat-form-field>
                                                        </div>
                                                      </div>
                                                </div>
                                                <div class="row justify-content-center">
                                                        <div class="col-sm-12">
                                                            <div class="input-group form-control-lg">
                                                              <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                  <i class="material-icons">email</i>
                                                                </span>
                                                              </div>
                                                              <mat-form-field class="example-full-width">
                                                                 <input matInput placeholder="Pilots" [formControl]="emailFormControl"
                                                                   type="email" id="exampleemalil" name="email">
                                                               </mat-form-field>
                                                            </div>
                                                          </div>
                                                    </div>
                                          
                                    </div>
                                    <div class="tab-pane" id="media">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-6">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="./assets/img/plus.png" class="picture-src" id="wizardPicturePreview"
                                                            title="" />
                                                        <input type="file" (change)="onFileSelected($event)" name="..."
                                                            multiple accept="image/*,video/*">
                                                    </div>
                                                    <h6 class="description">Choose Media</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <mat-form-field class="example-full-width has-label">
                                                        <input type="text" name="media_url" matInput id="media_url"
                                                            formControlName="media_url" placeholder="Video URL"
                                                            [(ngModel)]="media_url">
                                                    </mat-form-field>
                                                    <input type="button" class="btn btn-finish btn-fill btn-success btn-wd"
                                                        (click)="addMediaUrl()" name="add_media_url" [disabled]="!media_url.startsWith('http')"
                                                        value="Add Video By URL" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" *ngFor="let imgSrc of problem.image_urls;let i = index">
                                                <div class="card card-product">
                                                    <div class="card-header card-header-image" data-header-animation="false">
                                                        <img class="img" src="">
                                                    </div>
                                                    <div class="card-body"></div>
                                                    <div class="card-footer">
                                                        <div class="price">
                                                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                                                matTooltip="Feature" [matTooltipPosition]="'below'"
                                                                (click)="setFeatured('image',i)">
                                                                <i *ngIf="imgSrc.url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                                                <i *ngIf="imgSrc.url === problem.featured_url" class="material-icons">turned_in</i>
                                                            </button>
                                                        </div>
                                                        <div class="stats">
                                                            <button mat-raised-button type="button" class="btn btn-danger btn-link"
                                                                matTooltip="Remove" [matTooltipPosition]="'below'"
                                                                (click)="removePhoto(i)">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let video of problem.video_urls;let i = index">
                                            <div class="col-md-12">
                                                <div class="card card-product">
                                                    <div class="card-header card-header-image" data-header-animation="false">
                                                        <video controls>
                                                            <source src="{{video.url}}">
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    </div>
                                                    <div class="card-body">{{video.key}}</div>
                                                    <div class="card-footer">
                                                        <div class="price">
                                                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                                                matTooltip="Feature" [matTooltipPosition]="'below'"
                                                                (click)="setFeatured('video',i)">
                                                                <i *ngIf="video.url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                                                <i *ngIf="video.url === problem.featured_url" class="material-icons">turned_in</i>
                                                            </button>
                                                        </div>
                                                        <div class="stats">
                                                            <button mat-raised-button type="button" class="btn btn-danger btn-link"
                                                                matTooltip="Remove" [matTooltipPosition]="'below'"
                                                                (click)="removeVideo(i)">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngFor="let embed_url of problem.embed_urls;let i = index">
                                            <div class="col-md-12">
                                                <div class="card card-product">
                                                    <div class="card-body">{{embed_url}}</div>
                                                    <div class="card-footer">
                                                        <div class="price">
                                                            <button mat-raised-button type="button" class="btn btn-default btn-link"
                                                                matTooltip="Feature" [matTooltipPosition]="'below'"
                                                                (click)="setFeatured('embed',i)">
                                                                <i *ngIf="embed_url !== problem.featured_url" class="material-icons">turned_in_not</i>
                                                                <i *ngIf="embed_url === problem.featured_url" class="material-icons">turned_in</i>
                                                            </button>
                                                        </div>
                                                        <div class="stats">
                                                            <button mat-raised-button type="button" class="btn btn-danger btn-link"
                                                                matTooltip="Remove" [matTooltipPosition]="'below'"
                                                                (click)="removeEmbed(i)">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                        <div class="col-sm-12">
                          <mat-chip-list #chipList>
                            <mat-chip *ngFor="let video of problem.video_urls; let i = index" [selectable]="true"
                              [removable]="true" (removed)="removeVideo(i)">
                              {{video.key}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                          </mat-chip-list>
                        </div>
                      </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mr-auto">
                                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled"
                                        name="previous" value="Previous">
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-next btn-fill btn-warning btn-wd" name="next"
                                        value="Next">
                                    <input type="button" class="btn btn-fill btn-rose btn-wd" [disabled]="!problem.title"
                                        (click)="saveProblemDraft()" name="draft" value="Save Draft">
                                    <input type="button" class="btn btn-finish btn-fill btn-warning btn-wd" [disabled]="!isComplete()"
                                        (click)="publishProblem()" name="finish" value="Publish" style="display: none;">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
</div>