.test {
    margin-left: 100px;
}

.btn-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 4;
}

.test {
    margin-left: 3s00px;
}

/* * {
    overflow-x: hidden;
} */

/* .mat-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 4;
} */