<div class="main-content">
  <div class="container-fluid">
    <button class="btn btn-rose btn-lg btn-fab btn-round" matTooltip="Add Solution" [matTooltipPosition]="'left'"
      [routerLink]="['/solutions/add']" queryParamsHandling="merge" *ngIf="auth.currentUserValue.id">
      <i class="material-icons">add</i>
    </button>
    <!-- <button class="btn btn-rose" (click)="test()">test</button> -->

    <h3 *ngIf="solutions.length" class="card-title text-center">Solutions worth Sharing</h3>
    <br />


    <app-filter-dropdown [selectedSectors]="selectedSectors" [type]="'solutions'">
    </app-filter-dropdown>

    <div class="row">
      <div class="col-md-3" *ngFor="let solution of solutions">
        <app-solution-card [solutionData]="solution.solution"></app-solution-card>
      </div>
    </div>
  </div>
</div>