<!-- <div ngIf="auth.currentUserValue.id"> -->

<quill-editor [style]="{height: '100px'}" [(ngModel)]="content" [sanitize]="false" [modules]="modules"
  (onEditorCreated)="setFocus($event)">
</quill-editor>
<div class="stats">
  <button mat-raised-button class="btn btn-warning btn-sm btn-round" matTooltip="Click to add comment"
    [matTooltipPosition]="'below'" [disabled]="!auth.currentUserValue.id &&  !content "
    (click)="submitComment()">{{actionText}}</button>
  <button *ngIf="auth.currentUserValue.id && cancelShown" mat-raised-button class="btn btn-danger btn-sm btn-round"
    matTooltip="Click to close comment box" [matTooltipPosition]="'below'" (click)="cancel.emit()">Cancel</button>

  <label for="fileInput-{{id}}" *ngIf="auth.currentUserValue.id"
    [ngStyle]="{ 'cursor' : (!content) ? 'default' : 'pointer' }" class="btn btn-secondary btn-sm btn-round right">
    <i class="material-icons">
      attach_file
    </i>
    <span>Attach File</span>
  </label>

  <input type="file" [disabled]="!content" style="display: none" id="fileInput-{{id}}" (change)="onFileSelected($event)"
    name="..." multiple accept="{{file_types.join(',')}}" />
</div>
<!-- Displaying list of selected file -->
<div *ngFor="let attachment of attachments; let i=index;">
  <div>
    {{attachment.name}}
    &nbsp;
    <i class="fa fa-close" style="cursor:pointer" (click)="removeFile(i)"></i>
  </div>
</div>
<!-- </div> -->