<div class="card">
  <div class="card-body">
    <quill-editor [style]="{height: '100px'}" [(ngModel)]="content" [sanitize]="false" [modules]="modules"
      (onEditorCreated)="setFocus($event)">
    </quill-editor>
  </div>
  <div class="card-footer" *ngIf="!showReplyBox">
    <div class="stats">
        <button mat-raised-button class="btn btn-warning btn-sm btn-round" matTooltip="Click to add comment"
        [matTooltipPosition]="'below'" [disabled]="!content" (click)="submitComment()">{{actionText}}</button>
      <button mat-raised-button class="btn btn-danger btn-sm btn-round" matTooltip="Click to close comment box"
        [matTooltipPosition]="'below'" (click)="cancel.emit()">Cancel</button>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <quill-editor [style]="{height: '100px'}" [(ngModel)]="content" [sanitize]="false" [modules]="modules"
      (onEditorCreated)="setFocus($event)">
    </quill-editor>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <button mat-raised-button class="btn btn-warning btn-sm btn-round" matTooltip="Click to add comment"
      [matTooltipPosition]="'below'" [disabled]="!content" (click)="submitComment()">{{actionText}}</button>
    <button mat-raised-button class="btn btn-danger btn-sm btn-round" matTooltip="Click to close comment box"
      [matTooltipPosition]="'below'" (click)="cancel.emit()">Cancel</button>
  </div>
</div> -->
<!-- </div> -->