<!--REWRITE-->

<div class="row">
  <label class="col-sm-3 col-form-label">Comment</label>
  <div class="col-sm-9">
    <mat-form-field class="example-full-width">
      <input matInput type="text" name="comment" [(ngModel)]="validationData.comment" (keyup)="checkForSpaces($event)">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <label class="col-sm-3 col-form-label">Attachment</label>
  <div class="col-md-9">
    <span class="btn btn-secondary btn-sm btn-round btn-file">
      <i class="material-icons">
        attach_file
      </i>
      <span>Attach File</span>
      <input type="file" name="..." (change)="onValidateFileSelected($event)" multiple
        accept="application/pdf,text/plain,image/*" />
    </span>

    <div *ngFor="let file of validationData.files; let i=index;">
      <div *ngIf="file">
        {{file.key}}
        &nbsp;
        <i class="fa fa-close" style="cursor:pointer" (click)="removeAttachment(i)"></i>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-3">
    <button mat-raised-button class="btn btn-success btn-sm" (click)="validateConsent(true)"
      [disabled]="!validationData.comment || blankSpace" data-dismiss="modal">
      Agree
    </button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button class="btn btn-danger btn-sm" (click)="validateConsent(false)" data-dismiss="modal"
      [disabled]="!validationData.comment || blankSpace">
      Disagree
    </button>
  </div>
</div>


<!--REWRITE-->