<ngx-ui-loader fgsColor="#ff9800" fgsType="rectangle-bounce">
</ngx-ui-loader>

<img src="../../assets/img/register.jpg" height="300px" width="100%" style="margin-top: -1%;" />
<div class="centered">Solve together</div>
<div class="main-content" style="margin-top: -2%">
  <div class="container-fluid">
    <div class="centered">Solve together</div>

    <!-- <button class="btn btn-warning btn-lg btn-fab btn-round" matTooltip="Add Problem" [matTooltipPosition]="'left'"
          [routerLink]="['/problems/add']" [disabled]="!auth.currentUserValue.id">
          <i class="material-icons">add</i>
      </button> -->
    <br />
    <div class="row justify-content-center">
      <div class="col-md-6">
        <input type="text" value="" class="form-control" placeholder="Search..." name="searchInput" appAutofocus
          data-toggle="dropdown" [(ngModel)]="searchInput" (input)="landingPageSearch($event.target.value)"
          autocomplete="off" />
      </div>
      <button mat-raised-button class="btn btn-white btn-round btn-just-icon" [routerLink]="'/search'">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </div>
    <div class="row">
      <div class="col-md-11">
        <h3 *ngIf="!searchInput" class="card-title text-center">Problems worth solving</h3>
        <h3 *ngIf="landingPageSearchResults.length" class="card-title text-center">Search Results</h3>



      </div>
      <div class="col-md-1" style="padding-top: 1em;">
        <button mat-raised-button class="btn btn-warning btn-sm" (click)="showAll()">
          View All
        </button>

      </div>
    </div>



    <br />
    <div class="row" *ngIf="!searchInput">
      <div class="col-md-3" *ngFor="let problem of problems; let i=index;">
        <app-problem-card *ngIf="i<numberToBeShown" [problemData]="problem"></app-problem-card>
      </div>
    </div>
    <div class="card" *ngIf="searchInput && !landingPageSearchResults.length">
      <h5 class="card-body text-center">No search results

      </h5>
    </div>
    <div class="row" *ngIf="landingPageSearchResults.length">
      <div class="col-md-3" *ngFor="let problem of landingPageSearchResults;let i=index;">
        <app-problem-card *ngIf="i<numberToBeShown" [problemData]="problem"></app-problem-card>
      </div>
    </div>
    <!-- <h3 *ngIf="problems.length" class="card-title text-center">Problems added by other users</h3>
      <br />
      <div class="row">
          <div class="col-md-3" *ngFor="let problem of problems">
              <app-problem-card [problemData]="problem"></app-problem-card>
          </div>
      </div> -->
  </div>
</div>