<ngx-ui-loader fgsColor="#ff9800" fgsType="rectangle-bounce"> </ngx-ui-loader>

<div
  class="jumbotron jumbotron-fluid poster"
  [ngStyle]="{ 'margin-top': getNavHeight() + 'px' }"
>
  <div class="container-fluid text-center text-white">
    <h1 class="display-3">Solve together</h1>
  </div>
</div>

<div class="main-content" style="margin-top: -1%">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
            name="searchInput"
            appAutofocus
            data-toggle="dropdown"
            [(ngModel)]="searchInput"
            (input)="landingPageSearch($event.target.value)"
            autocomplete="off"
          />

          <button
            mat-raised-button
            class="btn btn-white btn-round btn-just-icon"
            [routerLink]="'/search'"
            queryParamsHandling="merge"
            aria-label="search"
          >
            <i class="material-icons" aria-hidden="true">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <h2
          *ngIf="!searchInput"
          class="card-title text-center"
          style="font-size: 1.7rem;"
        >
          Problems worth solving
        </h2>
        <h2
          *ngIf="landingPageSearchResults.length"
          class="card-title text-center"
          style="font-size: 1.7rem;"
        >
          Search Results
        </h2>
      </div>
      <div class="col-md-1" style="padding-top: 1em;">
        <button
          mat-raised-button
          class="btn btn-warning btn-sm"
          (click)="showAll()"
        >
          See More
        </button>
      </div>
    </div>
    <br />

    <div class="row" *ngIf="!searchInput">
      <div class="col-md-3" *ngFor="let problem of problems; let i = index">
        <app-problem-card
          *ngIf="i < numberToBeShown"
          [index]="i"
          [problemData]="problem"
        ></app-problem-card>
      </div>
    </div>

    <div class="card" *ngIf="searchInput && !landingPageSearchResults.length">
      <div class="card-body text-center lead">
        No search results
      </div>
    </div>

    <div class="row" *ngIf="landingPageSearchResults.length">
      <div
        class="col-md-3"
        *ngFor="let problem of landingPageSearchResults; let i = index"
      >
        <app-problem-card
          *ngIf="i < numberToBeShown"
          [index]="i"
          [problemData]="problem"
        ></app-problem-card>
      </div>
    </div>
  </div>
</div>
