<div class="card card-product actions solution-card" [routerLink]="link" queryParamsHandling="merge">
  <div class="card-header card-header-image">
    <img
      src="{{ (solutionData.featured_url && checkUrlIsImg(solutionData.featured_url)) ? solutionData.featured_url : './assets/img/image_placeholder.jpg' }}"
      width="200px" height="180px" style="object-fit:inherit;" />
  </div>
  <div class="card-body">
    <p class="card-title title" *ngIf="solutionData.title.length < 30; else longTitle">
      {{ solutionData.title }}
    </p>
    <ng-template #longTitle>
      <p class="card-title title">
        {{ solutionData.title.substring(0,30) + '...' }}
      </p>
    </ng-template>
    <div class="description">
      <!-- <strong *ngIf="solutionData.description">Description</strong> -->
      <!-- <p *ngIf="solutionData.description">{{ solutionData.description }}</p> -->
      <strong *ngIf="solutionData.description">Description</strong>
      <p *ngIf="solutionData.description.length < 75; else longDescription">{{ solutionData.description }}</p>
      <ng-template #longDescription>
        <p>{{ solutionData.description.substring(0,75) + '...' }}</p>
      </ng-template>
    </div>
  </div>

  <div style="background-color: #56BF7B;width: 3em;width: 3em; box-shadow: 0 4px 6px rgba(25, 25, 25, 0.2);">
    <i class="material-icons" style="color: #FFFFFF;margin-top: 0.2em; font-size: 1.2em;">
      highlight
    </i>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons">
        thumb_up
      </i>
      {{ solutionData.solution_voters.length }}
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="material-icons">
        visibility
      </i>
      {{ solutionData.solution_watchers.length }}
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="material-icons" [ngStyle]="{'color': solutionData.solution_validations.length ? '#38e038' : '#878787' }"
        matTooltip="Expert validations" [matTooltipPosition]="'below'">
        how_to_reg
      </i>
      <!-- {{ solutionData.problem_validations.length }} -->
      <!-- <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <i class="material-icons" style="color: #56BF7B">
        highlight
      </i> -->
    </div>
    <div class="stats">
      <i class="material-icons">access_time</i> {{ solutionData.updated_at | date:short }}
    </div>
  </div>
</div>