<div class="main-content">
    <div class="container-fluid">
        <h3 *ngIf="drafts.length" class="card-title text-center">You are working on these drafts</h3>
        <br />
        <div class="row">
            <div class="col-md-4" *ngFor="let problem of drafts">
              <!-- {{problem.id}} -->
                <app-problem-card [problemData]="problem"></app-problem-card>
            </div>
        </div>
        <h3 *ngIf="contributions.size" class="card-title text-center">Problems you have contributed to</h3>
        <br />
        <div class="row">
            <div class="col-md-4" *ngFor="let problem of contributions">
                <app-problem-card [problemData]="problem"></app-problem-card>
            </div>
        </div>
        <h3 *ngIf="recommendedProblems.size" class="card-title text-center">Problems you may be interested in</h3>
        <br />
        <div class="row">
            <div class="col-md-4" *ngFor="let problem of recommendedProblems">
                <app-problem-card [problemData]="problem"></app-problem-card>
            </div>
        </div>
        <h3 *ngIf="recommendedUsers.size" class="card-title text-center">People you may be interested in</h3>
        <br />
        <div class="row">
            <div class="col-md-4" *ngFor="let user of recommendedUsers">
                <app-profile-card [userData]="user"></app-profile-card>
            </div>
        </div>
    </div>
</div>

<!-- Hello -->