<!-- <div class="card card-product" *ngIf="!showModal">
  <div class="card-header card-header-warning card-header-text">
    <div class="card-text">
      <h4 class="card-title">Enrichment Details</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8">
      <div class="tab-content">
        <div class="tab-pane active" id="link4">
          <div class="raised">
            <img src="{{(enrichmentData.image_urls && enrichmentData.image_urls[0] && enrichmentData.image_urls[0].url) ? enrichmentData.image_urls[0].url :'./assets/img/image_placeholder.jpg'}}"
              width="250px" height="200px" style="object-fit: cover;" />
          </div>
          <div>
            <button mat-raised-button class="btn btn-raised btn-round btn-info" (click)="toggleViewForImgNView()">
              more >>
            </button>
          </div>

          <b>Description : </b>{{enrichmentData.description}}
          <br>
          <b>Organization : </b>{{enrichmentData.organization}}
          <br>
          <b>Location : </b>{{enrichmentData.location}}
          <br>
          <b>Impact : </b>{{enrichmentData.impact}}
          <br>
          <b>Extent : </b>{{enrichmentData.extent}}
          <br>
          <b>Population Affected : </b>{{enrichmentData.population_affected}}
          <br>
          <b>Beneficiary Attributes : </b>{{enrichmentData.beneficiary_attributes}}
          <br>
          <b>Resources needed : </b>{{enrichmentData.resources_needed}}
          <br>
 
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal">
  <div>
    <button mat-button type="button" class="close" (click)="showModal = false" aria-hidden="true">
      <i class="material-icons">close</i>
    </button>
  </div>

  <div *ngIf="!videoStatus">
    <img src="{{modalSrc}}" alt="">
  </div>
  <div *ngIf="videoStatus">
    <video src="{{modalSrc}}" width="100%" controls></video>
  </div>


  <div class="row" *ngIf="combinedImgAndVideo.length > 1">
    <div class="col text-center">
      <button mat-button type="button" class="btn btn-info btn-round" (click)="toggleSrc('prev')"><span class="carousel-control-prev-icon"
          aria-hidden="true"></span></button>
      <button mat-button type="button" class="btn btn-info btn-round" (click)="toggleSrc('next')"><span class="carousel-control-next-icon"
          aria-hidden="true"></span></button>
    </div>
  </div>
</div>




<div class="card-footer" *ngIf="enrichmentData.created_by===auth.currentUserValue.id">
  <div class="text-center">
    <button mat-button type="button" (click)="editEnrichment()" class="btn btn-warning" aria-hidden="true" data-dismiss="modal"
      data-toggle="modal" data-target="#EditEnrichModal">Edit</button>
    <button mat-button type="button" class="btn btn-danger" (click)="deleteEnrichment()">Delete</button>


  </div>
</div>
<div> <i class="material-icons actions" (click)="voteEnrichment()" [ngStyle]="{'color':enrichmentVoted? '#1E90FF' : 'black' }">
    thumb_up
  </i>
  <span>{{numberOfVotes}}</span></div>
 -->



<!--REWRITE-->

<div *ngIf="!showModal">
  <div class="row">
    <div class="col-md-4">
      <!-- <div class="picture"> -->
      <img
        src="{{ (enrichmentData.featured_url && checkUrlIsImg(enrichmentData.featured_url)) ? enrichmentData.featured_url :'./assets/img/image_placeholder.jpg'}}"
        alt="Thumbnail Image" class="rounded img-fluid" width="250px" height="200px" style="object-fit: cover;">
      <!-- </div> -->
      <div class="row justify-content-center" *ngIf="enrichmentData.image_urls && enrichmentData.image_urls.length > 0">
        <button mat-raised-button class="btn btn-raised btn-info btn-sm" (click)="toggleViewForImgNView()">
          view media ({{combinedImgAndVideo.length}})
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <strong>Description :</strong>
      <p class="description">{{enrichmentData.description}}</p>
      <strong *ngIf="enrichmentData.organization">Organization :</strong>
      <p class="description">{{enrichmentData.organization}}</p>
      <strong>Location :</strong>
      <!-- <p class="description">{{enrichmentData.location}}</p> -->
      <div>
        <span class="badge badge-warning"
          *ngFor="let location of enrichmentData.location">{{location.Address.Label}}</span>
        <span>&nbsp;</span>
      </div>
      <strong *ngIf="enrichmentData.impact">Impact :</strong>
      <p class="description">{{enrichmentData.impact}}</p>
      <strong *ngIf="enrichmentData.extent">Extent :</strong>
      <p class="description">{{enrichmentData.extent}}</p>
      <!-- <strong>Population Affected :</strong> -->
      <!-- <p class="description">{{enrichmentData.population_affected}}</p> -->
      <strong *ngIf="enrichmentData.beneficiary_attributes">Beneficiary Attributes :</strong>
      <p class="description">{{enrichmentData.beneficiary_attributes}}</p>
      <strong *ngIf="enrichmentData.resources_needed">Resources needed :</strong>
      <p class="description">{{enrichmentData.resources_needed}}</p>
    </div>
  </div>
</div>



<div *ngIf="showModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
      (click)="toggleView($event)">close</button>
  </div>

  <div class="modal-body">
    <app-display-modal *ngIf="modalSrc" [source]="modalSrc">
    </app-display-modal>
  </div>

  <div class="modal-footer justify-content-center" *ngIf="combinedImgAndVideo.length > 1">
    <button mat-raised-button type="button" [disabled]="index < 1" (click)="toggleFileSrc(false)"
      class="btn btn-link btn-round btn-twitter">
      <i class="material-icons" style="zoom:2;">
        keyboard_arrow_left
      </i>
    </button>
    <div class="col-3"></div>
    <button mat-raised-button type="button" [disabled]="index === combinedImgAndVideo.length -1"
      class="btn btn-link btn-round btn-twitter" (click)="toggleFileSrc(true)">
      <i class="material-icons" style="zoom:2;">
        keyboard_arrow_right
      </i>
    </button>
  </div>
</div>



<!-- <div class="card-footer">
          <div>
            <i class="material-icons actions" (click)="voteEnrichment()" [ngStyle]="{'color':enrichmentVoted ? '#1E90FF' : 'black' }">
              thumb_up
            </i>
            <span>67</span>
          </div>
          <div>
            <i class="material-icons actions" (click)="editEnrichment()">
              create
            </i>
            <i class="material-icons actions col-md-3" style="color:red;">
              delete
            </i>
          </div>
        </div>
      </div> -->

<div class="card-footer" *ngIf="!showModal">
  <!-- <div> -->
  <i class="
    material-icons actions" (click)="voteEnrichment()" [ngStyle]="{'color':enrichmentVoted? '#1E90FF' : 'black' }">
    thumb_up
  </i>
  <span>{{numberOfVotes}}</span>
  <!-- </div> -->
  <!-- <div class="text-center"> -->
  <button mat-button type="button" (click)="editEnrichment()" class="btn btn-warning pull-right" aria-hidden="true"
    *ngIf="enrichmentData.created_by===auth.currentUserValue.id && !showModal"
    [routerLink]="'/enrichment/'+ enrichmentData.id+'/edit'">
    <i class="material-icons actions">
      create
    </i>
  </button>
  <button mat-button type="button" class="btn btn-danger pull-right" (click)="deleteEnrichment()"
    *ngIf="enrichmentData.created_by===auth.currentUserValue.id && !showModal">
    <i class="material-icons actions">
      delete
    </i>
  </button>
  <!-- </div> -->
</div>




<!--REWRITE-->